//GLOBAL
$baseHref: '';

//COLORS
$color0: #000;
$color1: #A90534;
$color2: #FFAB00;
$color3: #252525;
$color4: #EFEFEF;
$color5: #17181A;
$color6: #EBEBEB;
$color7: #888;
$color8: #999;
$color9: #f3f3f3;
$color10: #666;
$color11: #AE9013;
$color27: #C9C9C9; //form elements disabled color
$color28: #004CA5; //dropdown list elements hover color
$color29: #CC0303; //error color
$color30: #2E9A32; //success color
$color31: #e2e2e2;
$color32: #fdfdfd;
$color255: #FFF;

//FONTS
$font-size: 14px;
$font-weight: 500;
$line-height: 1.3;
$font0: arial, sans-serif;
$font1: gilroy, $font0;
$font2: aktiv-grotesk, $font0;

//CONTAINER
$container-gap: 20px;
$d-container-gap: 100px;
$container-large: #{1240px + $container-gap * 2};
$container-medium: #{900px + $container-gap * 2};
$container-small: #{600px + $container-gap * 2};

//BREAKPOINTS
$breakpoint-small: 640px !default;
$breakpoint-medium: 1025px !default;
$breakpoint-large: 1350px !default;
$breakpoint-xlarge: 1600px !default;

//PAGES
$col-container-gap: minmax($container-gap, 1fr);
$col1: minmax(auto, 790px);
$col2: 380px;
$col-gap: 30px;
$grid-template-columns: $col-container-gap $col1 $col-gap $col2 $col-container-gap;
$grid-template-columns2: $col-container-gap $col2 $col-gap $col1 $col-container-gap;

//MISC
$bg-loading: url(/images/frontend/loading.gif) center center/80px no-repeat #f9f9f9;
$bg-small-loading: url(/images/frontend/loadingSmall.gif) center center/80px no-repeat;
$site-header-height: 60px;
$d-site-header-height: 110px;
$d-order-site-header-height: 80px;