.ems-page-dealer {
    &-grid {
        > .ga1 {
            padding-top: 50px;
            padding-bottom: 60px;
        }
    }

    .page-top-title {
        margin-top: 0;
    }
}

.mod-service-list {
    padding: 0;
    &-grid {
        grid-template-columns: $grid-template-columns;
        grid-template-rows: max-content 1fr;
        grid-template-areas: ". ga2 . ga1 ." ". ga2 . ga3 .";

        > .mod-service-list-header {
            grid-area: ga1;
        }
        > .address-detail {
            grid-area: ga2;
        }
        > .mod-service-list-body {
            grid-area: ga3;
        }
    }
}

.dealer-stock-information {
    margin-top: 30px;
}

.pServisListe {
    &.selected {
        background-color: darken($color: $color9, $amount: 8);
    }
}
.divServisListe_Koordinat {
    a[rel] {
        display: block;
    }
}

.address-detail {
    display: block;
}
#Map.map {
    height: calc(100vh - 300px);
}