.ems-page-dealer {
    &-grid {
        > .ga1 {
            padding-top: 20px;
            padding-bottom: 85px;
        }
    }

    .page-top-title {
        font-size: 22px;
        font-weight: 700;
    }
    .page-top-desc {
        font-family: $font2;
        font-size: 16px;
        margin-top: 20px;
    }

    .or {
        font-family: $font2;
    }
}

.dealer-stock-information {
    margin-top: 50px;
    background: $color4;
}

.servisIcerik {
    &:empty {
        display: none;
    }    
}

.servis_bilgi {
    font-family: $font2;
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 15px;
}
.secIlce {
    &:not(:empty) {
        &::before {
            content: "- ";
        }
    }
}

.pServisListe  {
    position: relative;
    padding: 20px;
    background: $color9;
    font-family: $font2;
    font-size: 13px;
    font-weight: 300;
    > * {
        display: none;
    }
    + .pServisListe {
        margin-top: 20px;
    }
}
.divServisListe_FirmaAdi {
    display: block;
    font-family: $font1;
    font-size: 16px;
    color: $color1;
    font-weight: 600;
}
.divServisListe_Adres {
    display: block;
    margin-top: 15px;
}
.divServisListe_Telefon {
    display: block;
    margin-top: 15px;
}
.divServisListe_Koordinat {
    display: block;
    margin-top: 20px;
    font-size: 12px;
    > a {
        text-decoration: underline;
    }
    a[rel] {
        @extend %btn-full;
        display: none;
    }
}

.address-detail {
    display: none;
    &-inner {
        position: sticky;
        top: 130px;
        .back-btn,
        .toggle-map,
        .left-column {
            display: none;
        }
    }
}
#Map.map {
    height: 600px;
}