//DEFAULT
.ems-page-hierarchy {
    &-grid {
        grid-template-columns: 300px 20px minmax(auto, 890px) 20px 1fr;
        grid-template-areas: "ga1 . ga2 . .";
        @include setGridArea(1,2);
        > .ga1 {
            position: static;
            padding-bottom: 50px;
            min-height: 100vh;
        }
    }

    .page-top-title {
        + .html-content {
            margin-top: 20px;
        }
    }
}

//1 COL
.ems-page-1-col {
    &-grid {
        grid-template-columns: 1fr;
        grid-template-areas: "ga1";
        @include setGridArea(1,1);
    }
}

.ems-page-story{
    [id$="lblICR_METIN_TEMPLATE"]{
        align-items: center;
    }
}
.story-btn-fixed{
    top: 40px;
}
.story-share-btn{
    right: 100px;
}
.story-home-btn{
    left: 100px;
}

.story-slider{
    width: 100%;
    height: auto;
    .swiper-container{
        padding: 5%;
        &.no-controls{
            .swiper-wrapper{
                justify-content: center;
            }
        }
    }
    .swiper-slide{
        width: 25%;
        transform: scale(0.9);
        img{
            max-width: 600px;
        }
        &:after{
            background: rgba(37, 37, 37, .75);
        }
    }
    .swiper-slide-active{
        transform: scale(1);
        &:after{
            background: none;
        }
    }
    .swiper-pagination{
        top: inherit;
        bottom: 1%;
        &-bullet{
            width: 50px;
        }
    }
    .banner15{
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        .prm-media{
            height: auto;
        }
        .banner-body{
            padding:5%;
        }
    }
}

//players list page
.players-widgets{
    $m:20px;
    $p:20px;

    padding-top: 85px;
    padding-bottom: 85px;
    
    .swiper-container:not(:first-child){
        margin-top: 80px;
    }
    .swiper-inner{
        margin-left: #{-$m};
    }
    .swiper-slide{
        width: calc(25% - 20px);
        margin-left: #{$m};
        margin-bottom: #{$m};
    }
}

.ems-grid-players-info{
    display: grid;
    grid-template-areas:". ga3 ga2 ga4 ." ". ga3 ga5 . ." ". ga6 ga6 ga6 ga6";
    grid-template-rows: max-content 1fr;
    grid-template-columns:minmax(0,100px) minmax(0,250px) minmax(0,auto) minmax(0,250px) minmax(0,100px); 
    padding: 35px 0 70px 0;
    position: relative;
    .number{
        font-size: 60px;
    }
    .name, .name strong{
        font-size: 24px;
    }
    .lbl {
        font-size: 16px;
    }
    .obj {
        font-size: 26px;
    }
    .ga1{
        grid-area: ga1;;
        top: 40px;
        left: 100px;
        > div{
            max-width: 250px;
        }
    }
    .ga2{
        grid-area: ga2;
        background: none;
        max-height: inherit;
        overflow: visible;
        padding: 0 20px;
    }
    .ga3{
        grid-area: ga3;
        padding: 100px 0 0 0;
    }
    .ga4{
        grid-area: ga4;
    }
    .ga5{
        grid-area: ga5;
        padding-top: 70px;
    }
    .ga6{
        grid-area: ga6;
    }
    .biography-wrapper{
        padding-left: 0;
        padding-right: 0;
    }
}

.banner-body.banner-body-cover{
    &-players{
        padding: 10px 20px;
        .prm-title{
            font-size: 72px;
        }
        .prm-desc{
            font-size: 17px;
            strong{
                font-size: 28px;
            }
        }
    }
}

.swiper-container-players{
    .swiper-wrapper{
        flex-direction: column;
        height: auto;
    }
    .swiper-slide{
        margin-top: 25px;
        width: 100%;
        padding: 0;
        img{
            max-width: 20px;
        }
    }
}

.swiper-container-playerlist{
    padding-top: 0;
    .swiper-slide{
        padding:10px 12.5px;
        width: calc(100% / 4.2);
    }
    .mx-center{
        max-width: calc(100% - 200px);
        .all-view{
            top: 50%;
            left: inherit;
            right: 0;
        }
    }
}

.swiper-container-ply{
    .swiper-slide{
        .inner{
            background: #ffffff;
            padding: 60px 20px 30px 20px;
            border: 1px solid #e2e2e2;
        }
        &:not(:first-child){
            display: block;
        }
    }
    .ems-prd-add-cart{
        a{
            width: 100%;
            padding: 16px 5px;
            margin-top: 15px;
        }
    }
}

.hero-sky{
    position: absolute;
    left: 0;
    z-index: -1;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    min-height: 500px;
    transform: skewY(-8deg);
    transform-origin: 0 0;
    background: #f7f7f7;
}

//site map
.pageSitemap{
    width: calc(100% - 160px);
    margin: 0 auto;
    .urunKategoriListe{
        > ul {
            grid-template-columns: repeat(5,1fr);
            justify-items: flex-start;
        }
    }
    ul.seviye1{
        > li{
            > a:hover{
                text-decoration: underline;
            }
        }
    }
}

//
.statistics{
    max-width: 700px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    &-wrap{
        >div{
            margin-top: 40px;
            margin-bottom: 40px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
    &-wrap{
        > div{
            &:first-child{
                border-right: 1px solid #f3f2f2;
            }
        }
        .t1{
            font-size: 22px;
            min-height: auto;
        }
        .t2{
            font-size: 68px;
        }
    }
    &-cards{
        > li{
            &:first-child{
                margin-right: 50px;
            }
        }
        span.c1{
            margin-right: 20px;
        }
    }
    &-db{
        >ul{
            margin-top: 40px;
            margin-bottom: 40px;
            &:nth-child(1){
                width:calc(60% - 20px);
                margin-right: 20px;
            }
            &:nth-child(2){
                width: 40%
            }
        }
    }
}