.ems-page-home {
    padding-bottom: 40px;
}

.top-notification {
    background: $color4;

    .swiper-container {
        height: 50px;
        overflow: hidden;
    }
    .swiper-wrapper {
        align-items: center;
    }
}

.homepage-slider {
    background: $color0;
    .ems-responsive-item {
        @include aspect-ratio(375, 500);
    }

    .content-here {
        position: absolute;
        bottom: 65px;
        left: 50%;
        z-index: 11;
        transform: translateX(-50%);
        color: #fff;
    }
    .icon-scroll {
        font-size: 40px;
    }
}

.primary-categories {
    padding-top: 30px;
    padding-bottom: 50px;
    
    $pt: 15px;
    $pl: 15px;
    .swiper-inner {
        margin-left: #{-$pl};
        margin-top: #{-$pt};
    }
    .swiper-slide {
        padding-left: #{$pl};
        padding-top: #{$pt};
        width: calc(100% / 2);
    }
}

.historical-moments {
    padding-top: 50px;
    padding-bottom: 30px;

    $pl: 20px;
    .swiper-inner {
        margin-left: #{-$p};
    }
    .swiper-slide {
        padding-left: #{$p};
        width: calc(100% / 1.25);
    }

    .ems-responsive-item {
        @include aspect-ratio(300, 375);
    }
}

.collections {
    padding-top: 30px;
    padding-bottom: 30px;

    $pt: 25px;
    .swiper-inner {
        margin-top: #{-$pt};
    }
    .swiper-slide {
        padding-top: #{$pt};
    }

    .ems-responsive-item {
        @include aspect-ratio(335, 335);
    }
}

.campaigns {
    padding-top: 30px;
    padding-bottom: 30px;

    $pt: 15px;
    .swiper-inner {
        margin-top: #{-$pt};
    }
    .swiper-slide {
        padding-top: #{$pt};
    }

    .ems-responsive-item {
        @include aspect-ratio(335, 335);
    }
}