.ems-page-home {
    padding-bottom: 0;
}

.homepage-slider {
    .ems-responsive-item {
        @include aspect-ratio(1920, 690);
    }
    .swiper-button-prev{
        left: 100px;
    }
    .swiper-button-next{
        right: 100px;
    }
    .swiper-button-prev,
    .swiper-button-next{
        display: block;
    }
    .banner07 .banner-body{
        width: calc(100% - 400px);
        left: 0;
        right: 0;
        margin: 0 auto;
        padding-right: 10px;
        padding-left: 10px;
    }
}

.primary-categories {
    padding-top: 70px;
    padding-bottom: 70px;

    .ems-section-title {
        display: none;
    }
    
    $pt: 0;
    $pl: 20px;
    .swiper-inner {
        margin-top: #{-$pt};
        margin-left: #{-$pl};
    }
    .swiper-slide {
        padding-top: #{$pt};
        padding-left: #{$pl};
        width: calc(100% / 4);
    }

    .ems-responsive-item {
        @include aspect-ratio(295, 395);
    }
}

.historical-moments {
    padding-top: 0;
    padding-bottom: 0;

    .swiper-slide {
        width: calc(100% / 3.25);
    }
}


.collections {
    width: 100%;
    padding: 100px 0 10px 20px;
    overflow: hidden;
    position: relative;

    &-grid {
        grid-template-columns: minmax(auto, 500px) 1fr;
        grid-template-rows: max-content;
        grid-template-areas: "ga1 ga2";
        @include setGridArea(1,2);
        padding-top: 70px;
        padding-bottom: 70px;
        > .ga2 {
            overflow: hidden;
            align-self: center;
        }
    }

    $pt: 0;
    $pl: 20px;
    .ems-section-title{
        position: absolute;
        top: 30px;
        left: 20px;
        margin-bottom: 0;
        span {
            display: none;
        }
    }
    .swiper-container{
        position: initial;
        max-width: 330px;
    }
    .swiper-container,
    .swiper-inner{
        overflow: visible;
    }
    .swiper-inner {
        margin-top: #{-$pt};
        margin-left: #{-$pl};
    }
    .swiper-slide {
        padding-top: #{$pt};
        padding-left: #{$pl};
    }
    .swiper-slide:nth-child(1){
        display: none;
    }
    .swiper-button-next,
    .swiper-button-prev{
        top: 40px;
        width: 42px;
        height: 42px;
        border-radius: 100%;
        background-size: 26px;
        border-color: #e5e5e5;
        z-index: 5;
    }
    .swiper-button-next{
        right: 100px;
    }
    .swiper-button-prev{
        right: 160px;
        left: inherit;
    }
    .ems-responsive-item {
        @include aspect-ratio(300, 375);
    }
}
.collection-big{
    .ems-section-title{
        margin-left: 100px;
    }
    .banner-body{
        padding-left: 100px;
    }
    .swiper-slide{
        width: 100% !important;
    }
}

.campaigns {
    padding-top: 70px;
    padding-bottom: 70px;

    $pt: 0;
    $pl: 20px;
    .swiper-inner {
        margin-top: #{-$pt};
        margin-left: #{-$pl};
    }
    .swiper-slide {
        width: 100%;
        padding-top: #{$pt};
        padding-left: #{$pl};
    }

    .ems-responsive-item {
        @include aspect-ratio(610, 350);
    }
}