.ems-page-home {
    padding-bottom: 0;
}

.homepage-slider {
    .ems-responsive-item {
        @include aspect-ratio(1440, 690);
    }
}

.primary-categories {
    padding-top: 70px;
    padding-bottom: 70px;

    .ems-section-title {
        display: none;
    }
    
    $pt: 0;
    $pl: 20px;
    .swiper-inner {
        margin-top: #{-$pt};
        margin-left: #{-$pl};
    }
    .swiper-slide {
        padding-top: #{$pt};
        padding-left: #{$pl};
        width: calc(100% / 4);
    }

    .ems-responsive-item {
        @include aspect-ratio(295, 395);
    }
}

.historical-moments {
    padding-top: 100px;
    padding-bottom: 100px;

    .swiper-slide {
        width: calc(100% / 3.25);
    }
}

.collections {
    padding-top: 20px;
    padding-bottom: 20px;

    &-grid {
        grid-template-columns: minmax(auto, 690px) 1fr;
        grid-template-rows: 720px;
        grid-template-areas: "ga1 ga2";
        @include setGridArea(1,2);
        > .ga1 {
            font-size: 100px;
        }
    }

    $pt: 0;
    $pl: 20px;
    .swiper-inner {
        margin-top: #{-$pt};
        margin-left: #{-$pl};
    }
    .swiper-slide {
        padding-top: #{$pt};
        padding-left: #{$pl};
        width: calc(100% / 2.25);
    }

    .ems-responsive-item {
        @include aspect-ratio(300, 375);
    }
}

.campaigns {
    padding-top: 125px;
    padding-bottom: 125px;

    $pt: 0;
    $pl: 20px;
    .swiper-inner {
        margin-top: #{-$pt};
        margin-left: #{-$pl};
    }
    .swiper-slide {
        width: 100%;
        padding-top: #{$pt};
        padding-left: #{$pl};
    }

    .ems-responsive-item {
        @include aspect-ratio(610, 350);
    }
}