.ems-page-login {
    .ems-tab-header{
        margin-bottom: 0;
        padding-bottom: 20px;
    }
}

.ems-member-login {
    padding: 40px $container-gap;
    .ems-form-label{
        font-size: 11px;
    }
}

a.btnLogin,
a.btnYeniUyeKaydet {
    width: 100%;
    @extend %btn-medium;
}

.kutuUyeGirisFacebookConnect {
    margin-top: 10px;
}
a.btnFacebookLogin {
    @extend .btnFacebookLoginKutu;
    @extend %btn-medium;
}

.login-media {
    .ems-responsive-item {
        @include aspect-ratio(375, 270);
    }
}