.ems-page-login {}

.ems-member-login {
    padding: 40px $container-gap;
}

a.btnLogin,
a.btnYeniUyeKaydet {
    width: 100%;
    @extend %btn-medium;
}

.kutuUyeGirisFacebookConnect {
    margin-top: 10px;
}
a.btnFacebookLogin {
    @extend .btnFacebookLoginKutu;
    @extend %btn-medium;
}

.login-media {
    .ems-responsive-item {
        @include aspect-ratio(375, 270);
    }
}