.ems-member-coupon {
    &.no-result {
        .ems-message-coupon {
            display: flex;
        }
    }
}

.coupon-tab,
.kutuBodyMesaj {
    display: flex;
    overflow: auto;
    margin: #{-$member-pages-pt} #{-$container-gap} 20px;
    background: #{$member-pages-body-bg};
    > * {
        flex-shrink: 0;
    }
    a {
        background: $color27 !important;
        padding: 0 14px;
        font-size: 12px;
        color: $color0;
        line-height: 35px;
        &.selected {
            background: $color255 !important;
        }
    }
}


.ems-grid-table-coupon {
    > .ems-grid-row {
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
}