//new message
#mesajGonder {
    .ems-form {
        max-width: 330px;
    }
}

//message list
.kutuMesaj {
    position: relative;
}
.kutuHeaderMesaj,
.kutuFooterMesaj {
    display: none;
}

.ems-member-message {}
.ems-grid-table-message {
    margin-top: 30px;
    > .ems-grid-row {
        grid-template-columns: 1fr auto;
        grid-gap: 10px;
    }
}

//message detail
.ems-member-message-detail {
    .ems-form {
        max-width: none;
        margin: 0 20px;
        &-obj {
            p {
                margin: 0;
            }
        }
    }
}
#plhMesajTitle {
    display: none;
}
#plhBtnMesajCozuldu {
    margin-top: 10px;
}

[id$="lblSistemMesaj"] {
    display: block;
    margin-top: 30px;
}