$member-pages-body-bg: $color9;
$member-pages-module-bg: $color255;
$member-pages-pt: 20px;
$member-pages-pb: 40px;
$member-pages-mt: 30px;
.ems-page-member {
    background: $member-pages-body-bg;
    min-height: calc(100vh - #{$site-header-height});

    &-grid {
        > .ga1 {
            background: $member-pages-module-bg;
        }
        > .ga2 {
            background: $member-pages-module-bg;
            margin-top: $member-pages-mt;
            padding: #{$member-pages-pt} #{$container-gap} #{$member-pages-pb};
        }
    }
    
    .ems-grid-table-address {
        padding: 0;
        margin-top: -20px;
    }
    .order-module-buttons {
        margin: 0 #{-$container-gap} #{-$member-pages-pb};
        background: $member-pages-body-bg;
    }
    
    [class*="spacer"] {
        margin-left: #{-$container-gap};
        margin-right: #{-$container-gap};
        background: $member-pages-body-bg;
    }
    .spacer-30 {
        min-height: 30px;
    }
}

.member-top-info {
    padding: 25px $container-gap;
    &-media {
        > img {
            width: 80px;
            border-radius: 100%;
        }
    }
    &-title {
        font-size: 20px;
        font-weight: 700;
    }
    &-logout {
        color: $color1;
        margin-top: 10px;
    }
}

.pageUyeBasarili {
    padding-top: 40px;
    font-family: $font2;
    font-size: 15px;
}
.pageHeaderUyeBasarili {
    display: none;
}