.ems-grid-table-order {
    > .ems-grid-row {
        grid-template-columns: 1.25fr 1fr 1fr .5fr;
    }
    .ems-grid-total {
        align-self: center;
    }
}

.ems-message-order {
    div.ems-flex{
        width: 100%;
        max-width: 500px;
    }
    .btn{
        width: calc(50% - 20px);
        &:first-child{
            margin-right: 10px;
        }
        &:last-child{
            margin-left: 10px;
        }
    }
}

//order-detail
.order-detail-info {
    column-count: 2;
    column-gap: 0;
    margin: 20px 0 0;
    > div {
        break-inside: avoid;
    }
    .no {
        column-span: all;
    }
}

.act-btns {
    > * + *:not(:empty) {
        margin-top: 0;
        margin-left: 10px;
    }
}

.order-address {
    margin-top: 0;
    &-billing {
        margin-left: 50px;
        padding-left: 50px;
        border-left: 1px solid $color9;
    }
}