.ems-member-coupon {}

.coupon-tab,
.kutuBodyMesaj {
    a {
        font-size: 16px;
        padding: 14px 20px;
    }
}

.ems-grid-table-coupon {
    > .ems-grid-row {
        grid-template-columns: 1fr 150px 150px 1fr;
    }
}