.ems-member-order {}

.ems-grid-table-order {
    > .ems-grid-row {
        grid-template-columns: 1.25fr 1fr 1fr .5fr;
    }
    .ems-grid-total {
        align-self: center;
    }
}

//order-detail
.order-detail-info {
    $ml: 20px;
    column-count: 2;
    column-gap: 0;
    margin-left: -$ml;
    > {
        break-inside: avoid;
    }
}

.act-btns {
    > * + *:not(:empty) {
        margin-top: 0;
        margin-left: 10px;
    }
}


.order-address {
    margin-left: -20px;
    margin-bottom: 30px;
}

.ems-step0 .ems-grid-table-order-products {
    > .ems-grid-row {
        grid-template-columns: 90px 1fr 113px 1fr;
    }
}