.ems-member-favorite {
    .page-top-title {
        margin-bottom: 0;
    }

    &.no-result {
        padding-top: 0;
        .ems-message-favorite {
            display: flex;
        }
        .order-module-buttons {
            display: none;
        }
    }
}

.ems-grid-table-favorite {
    > .ems-grid-row {
        grid-template-columns: 90px 1fr;
        padding-left: 40px;
    }
}

a.btnFavoriListeSil {
    @extend %btn-reset;
}
a.btnSepeteAtFavori {
    width: 100%;
}

.urunListe_secenek1 {
    .dropdown-trigger {
        display: block;
    }
    .dropdown-options {
        display: none !important;
        animation: show .5s ease;
        position: absolute;
        left: 0;
        top: 100%;
        z-index: 1;
        width: 100%;
        margin: -1px 0 0 0;
        background: $form-element-background-color;
        border: $form-element-border;
    }
    &.opened {
        .dropdown-options {
            display: block !important;
        }
    }
}