.ems-page-member {
    &-grid {
        grid-template-columns: $grid-template-columns2;
        grid-template-areas: ". ga1 . ga2 .";
        align-items: flex-start;
        padding-top: 40px;
        padding-bottom: 100px;
        @include setGridArea(1,2);
        > .ga2 {
            margin-top: 0;
        }
    }

    .ems-grid-table-address {
        > .ems-grid-row {
            grid-template-columns: 120px 1fr;
        }
        .ems-grid-address-select {
            display: none;
        }
    }
}

.member-top-info {
    padding: 30px $container-gap;
}