.ems-member-order {
    .page-top-title {
        margin-bottom: 0;
    }

    .urunPaging {
        padding: 0;
    }

    &.no-result {
        padding-top: 0;
        .ems-message-order {
            display: flex;
        }
    }
}

.ems-grid-table-order {
    > .ems-grid-row {
        grid-template-columns: 1fr auto;
        grid-gap: 15px;
    }
}

//order-detail
a.btnSipariseDon {
    @extend %btn-reset;
    margin-bottom: 20px;
    .icon-triangle-b {
        @extend .ems-rotate-left;
    }
}

.order-detail-info {
    $px: 5px;
    margin-left: #{-$px};
    margin-right: #{-$px};
    .value {
        font-weight: 400;
    }
    > div {
        display: flex;
        align-items: center;
        > div {
            flex: 1;
            padding: $px;
        }
    }
    .no {
        font-size: 20px;
        margin-bottom: 20px;
        > div {
            flex: none;
        }
        .text {
            font-weight: 400;
        }
        .value {
            font-weight: 600;
        }
    }
}

.act-btns {
    margin: 20px 0;
    border-top: 1px solid $color9;
    padding-top: 20px;
    a {
        @extend %btn;
        @extend %btn-transparent;
        border-color: transparent;
    }
}

#plhSipTekrarla {
    .st-list {
        display: none;
    }
    .st-detail {
        display: inline;
    }
}

#plhSipDetayBaslik {
    margin-top: 20px;
}

.order-address {
    margin-top: 20px;
    font-family: $font2;
    font-size: 15px;
    line-height: 1.7;
    .text {
        font-weight: 600;
    }
}

.ems-grid-table-order-products {
    margin-top: 20px;
    .ems-grid-name {
        font-size: 0;
        a {
            font-size: 16px;
            strong {
                display: none;
            }
            ~ a {
                display: none;
            }
        }
    }
}

.order-detail-info-payment {
    max-width: 320px;
    margin-top: 20px;
}