//new message
#mesajGonder {
    .btnMesajGonder {
        width: auto;
        min-width: 170px;
    }
}

//message list
.ems-member-message {}
.ems-grid-table-message {
    > .ems-grid-row {
        grid-template-columns: 10px 150px 2fr 1fr 1fr;
    }
    .newMessage {
        .ems-grid-date {
            font-weight: 600;
        }
    }
}

//message detail
.ems-member-message-detail {}