//new message
#mesajGonder {
    position: relative;
}

//message list
.kutuMesaj {
    position: relative;
}
.kutuHeaderMesaj,
.kutuFooterMesaj {
    @extend .ems-none;
}

.ems-member-message {}
.ems-grid-table-message {
    margin-top: 30px;
    > .ems-grid-row {
        grid-template-columns: 1fr auto;
        grid-gap: 10px;
    }
}

//message detail
.ems-member-message-detail {
    > .ems-form {
        max-width: none;
        .ems-form-label {
            font-weight: 700;
        }
    }

    #mesajGonder {
        margin-top: 50px;
    }
    #plhMesajTitle {
        display: none;
    }
}

[id$="lblSistemMesaj"] {
    display: block;
    margin-top: 30px;

    &:empty {
        @extend .ems-none;
    }
}