%pls-gry{
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDMyIDMyIj4gICAgPHRleHQgZmlsbD0iIzAwMCIgZmlsbC1ydWxlPSJldmVub2RkIiBmb250LWZhbWlseT0iR2lscm95LVJlZ3VsYXIsIEdpbHJveSIgZm9udC1zaXplPSIyMiI+ICAgICAgICA8dHNwYW4geD0iMTAiIHk9IjI0Ij4rPC90c3Bhbj4gICAgPC90ZXh0Pjwvc3ZnPg==);
    background-repeat: no-repeat;
    background-position: 100% center;
}
%mns-gry{
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDMyIDMyIj4gICAgPHRleHQgZmlsbD0iIzAwMCIgZmlsbC1ydWxlPSJldmVub2RkIiBmb250LWZhbWlseT0iR2lscm95LVJlZ3VsYXIsIEdpbHJveSIgZm9udC1zaXplPSIyMiI+ICAgICAgICA8dHNwYW4geD0iMTAiIHk9IjI0Ij4tPC90c3Bhbj4gICAgPC90ZXh0Pjwvc3ZnPg==);
    background-repeat: no-repeat;
    background-position: 100% center;
}

.ems-order-payment {
    .block1 {
        position: relative;
        &::after {
            display: none;
            content: "";
            background: linear-gradient(0deg, white, transparent);
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 100px;
            z-index: 1;
        }
        .page-top-title{
            margin: 0;
            @extend %pls-gry;
        }
        &.open{
            .page-top-title{
                @extend %mns-gry;
            }
            &::after {
                display: block;
            }
        }
    }
    .ems-grid-table-cart {
        @extend .ems-scrollbar;
        max-height: 314px;
        display: none;
        margin-top: 20px;
        > .ems-grid-row {
            grid-template-columns: 40px 2fr 1fr;
            padding: 10px 0;
            grid-row-gap: 0;
        }
        .ems-grid-name {
            [id$="lblProm"] {
                display: none;
            }
        }
        .qty-wrapper {
            width: auto;
            text-align: center;
        }
        .ems-grid-price {
            .price-wrapper {
                justify-content: flex-end;
            }
            .dvSepetKazancOran:not(:empty) {
                text-align: right;
            }
        }
        &.open{
            display: block;
        }
    }
}

.ems-pay-type {
    &-list {
        > ul {
            display: flex;
            @extend .ems-scrollbar;
            @extend .ems-scrollbar-horizontal;
            > li {
                flex-shrink: 0;
            }
        }
        a {
            display: block;
            background: $color27;
            padding: 12px 14px;
            font-size: 12px;
            font-weight: 500;
            &.emos_selected {
                background: $color255;
            }
        }
    }
    &-content {
        position: relative;
        background: $color255;
        padding: 20px $container-gap;
    }
}
[id$="pnlPesinDiger"] {
    display: none;
}

.masterpassContent {
    display: block !important;
    margin-top: 15px;
}
.imgMasterpassLogo {
    width: auto !important;
}
.masterPassForms {
    position: relative;
    margin-top: 20px;
    > div + div {
        margin-top: 10px;
    }
}
.masterpassAciklama {
    font-size: 13px;
}
.dvAddCreditCard {
    display: flex;
}
.dvMpCardAliasName {
    flex: 1;
    padding-right: 5px;
}

.masterpass_cardAddedSuccess {
    margin-bottom: 30px;
}
.masterpass_linkCard {
    margin-bottom: 30px;
}
.masterpass_cardList {
    margin-bottom: 30px;
}
.masterpassLogo_cardList {
    display: none;
}
.mpCreditCardSet {
    font-size: 14px;
    color: $color255;
    background: $color6;
    border-radius: 5px;
    padding: 20px;
    display: grid;
    grid-template-columns: 15px 1fr max-content;
    grid-gap: 0 10px;
    align-items: center;

    + .mpCreditCardSet {
        margin-top: 15px;
    }
}
.lnkDeleteMasterPassCard {
    text-decoration: underline;
}
.mpNewCreditCard {
    margin-top: 20px;
    display: flex;
    align-items: center;
    input[type="radio"] {
        margin-right: 7px;
    }
}
.dvOtpForm {
    > * {
        margin-top: 10px;
    }
}
.mpInfoText {
    padding: 0 !important;
}
.resendCodePlace {
    > * {
        margin-top: 10px;
    }
}
.validateOtp,
.btnResendOtp {
    @extend %btn;
    cursor: pointer;
}

.pageOdemeBilgi_chkKrediKartiBonusPara {
    margin-top: 20px;
}

[id$="ODM_ACIKLAMA"]:not(:empty) {
    display: block;
    margin-top: 20px;
    @extend .ems-scrollbar;
    max-height: 300px;
}

.ems-card-wrapper {
    display: none;
    position: absolute;
    right: 30px;
    top: 30px;
    max-width: 350px !important;
    height: 200px;
}

.tableTitleOdemeBilgiKrediKarti,
.tableTitleOdemeBilgiHavale {
    display: none;
}
.tableOdemeBilgiKrediKarti {
    input {
        width: 100% !important;
        text-transform: uppercase;
    }
    tbody {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    tr {
        display: flex;
        flex-direction: column;
        text-align: left;
        flex-basis: 100%;
        + tr {
            margin-top: 20px;
        }
        &:nth-child(2) {
            flex-basis: 70%;
        }
        &:nth-child(3) {
            flex-basis: 28%;
        }
    }
    th {
        @extend .ems-form-label;
    }
    td {
        &.tableOdemeBilgiKrediKarti_tddrpKSA_SPR_ID {
            height: $form-element-height;
            overflow: hidden;
            > span {
                display: inline-block;
                text-align: center;
                &:nth-child(1) {
                    width: calc(50% - 5px);
                    margin-right: 5px;
                }
                &:nth-child(2) {
                    width: 50%;
                }
            }
        }
        &.tableOdemeBilgiKrediKarti_tdtxtKKARTCVCNO {
            font-size: 0;
        }
    }
    .div-cc-carttype,
    [id$="CVC_NEDIR"] {
        @extend .ems-none;
    }
}

.tableOdemeBilgiHavale {
    .tableOdemeBilgiHavale_thlbfBNK_AD_HV {
        display: none;
    }
    table {
        margin-top: -10px;
        td {
            padding: 10px 0;
        }
    }
    .link {
        text-align: right;
        color: #fff;
        > a {
            min-width: 150px;
        }
    }
}

.pageDecOdemeBilgi {
    margin-top: 10px;
}

.pageOdemeBilgi_chkBankaBonus {
    margin-top: 20px;
    font-size: 14px;
}

.lnkOdemeTaksit {
    display: block;
}
.pageOdemeBilgi_odemeTaksit {
    margin-top: 20px;
    #imgBANKALOGO {
        display: none;
    }
}
table.tableOdemeTaksit {
    table-layout: fixed;
    td {
        border: 1px solid $color5;
        padding: 10px 5px;
        text-align: center;
        &:nth-child(1) {
            width: 40px;
        }
    }
}
.tableTitleOdemeTaksit td {
    @extend .ems-form-label;
}

.ems-pay-summary {
    margin-top: 30px;
    > div {
        background: $color255;
        padding: 20px $container-gap;
        + div {
            margin-top: 30px;
        }
    }
}
.ems-pay-address {
    .page-top-title{
        margin: 0;
        @extend %pls-gry;
    }
    .ems-wrapper {
        display: none;
        margin-top: 20px;
        > div {
            + div {
                border-top: 1px solid $color4;
                margin-top: 20px;
                padding-top: 20px;
            }
        }        
    }
    &-label {
        font-weight: 600;
        margin-bottom: 10px;
    }
    &-obj {
        font-family: $font2;
        font-size: 12px;
        line-height: 1.5;
    }
    &.open{
        .page-top-title{
            @extend %mns-gry;
        }
        .ems-wrapper {
            display: block;
        }
    }
}

.onBilgilendirmeForm,
.siparisOnaySozlesme {
    background: $order-pages-module-bg;
    padding: 20px;
    margin-top: 30px;
    .page-top-title{
        margin: 0;
        @extend %pls-gry;
    }
    &.open{
        .page-top-title{
            @extend %mns-gry;
        }   
        .onBilgilendirmeFormMetin,
        .siparisOnaySozlesmeMetin{
            display: block;
        }        
    }
}
.onBilgilendirmeFormMetin,
.siparisOnaySozlesmeMetin {
    margin-top: 20px;
    display: none;
    > span {
        @extend .ems-scrollbar;
    }
    &.open{
        display: block;
    }
}
.pageSiparisOnay_lbfOnBilgilendirmeForm,
.pageSiparisOnay_lbfSatisSozlesme {
    display: flex;
    align-items: center;
    margin-top: 20px;
    text-align: left;
}
a.btnOnBilgilendirmeFormOnizle,
a.btnSatisSozlesmeOnizle {
    @extend %btn-reset;
    font-weight: 400;
}