.ems-step0,
.guestCheckout {
    .ems-grid-table-cart {
        > .ems-grid-row {
            grid-template-columns: 90px 1fr;
            border-bottom-color:#e72f2f;
            &:last-child{
                border-bottom-color: transparent;
            }
        }
    }
}

span[id$="lbfSPT_SEPETBOS"]{
    > .ems-message{
        margin-top: 30px;
    }
    .btn {
        margin-top: 30px;
    }
}

.ems-order-cart {
    &-grid {
        .block1 {
            position: relative;
            background: $color255;
            padding: $container-gap;
            margin-top: 30px;
        }
    
        .block2 {
            margin-top: 30px;
            padding: $container-gap;
            background: $color255;
            > .page-top-title {
                margin-bottom: 15px;
            }
        }
    }
}

.cart-promotion-info {
    $pl: 10px;
    .swiper-inner {
        margin-left: #{-$p};
    }
    .swiper-slide {
        padding-left: #{$p};
        width: calc(100% / 1.25);
        height: auto;
    }
    .banner {
        height: 100%;
    }
}

.odemeCeki {
    .baslik {
        color: $color1;
    }
}

.pnlDipToplamTable {
    font-weight: 400;
    tr {
        th, td {
            padding-top: 5px;
            padding-bottom: 5px;
        }
        th {
            font-weight: 400;
            text-align: left;
        }
        td {
            width: 80px;
            font-weight: 600;
            > span {
                justify-content: flex-end;
                .d {
                    display: inline;
                }
            }
        }
    }
    .pnlDipToplam_indirimToplam {
        th, td {
            color: $color1;
        }
    }
    .pnlDipToplam_sipToplam {
        th, td {
            font-weight: 700;
            padding-top: 15px;
        }
    }
}
.pnlDipToplam_bankaKomisyon {
    @extend .ems-none;
}

.ems-cart-coupon {
    position: relative;
    input{
        border-color: #ddd !important;
    }
}
a.btnHediyeCekiKullan {
    @extend %btn-medium;
}
[id$="lblHCK_HATA"]:not(:empty) {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
}
.ems-cart-coupon-info {
    position: relative;
}
[id$="lblKuponKodBilgi"]:not(:empty) {
    font-size: 16px;
    font-weight: 700;
}
a.btnHediyeCekiIptal {
    @extend %btn-reset;
}

.customer-support {
    display: none;
    &-b1 {
        padding: 20px 0;
        li {
            width: 50%;
            padding: 10px;
            text-align: center;
            svg {
                display: block;
                margin: 0 auto 5px;
                font-size: 32px;
            }
            b {
                font-weight: 400;
            }
        }
    }
    .ems-section-title {
        font-size: 16px;
        margin-bottom: 5px;
    }
    .swiper-inner {
        margin-top: 10px;
        padding: 20px;
        border: 1px solid $color10;
        color: $color10;
    }
    .swiper-slide {
        + .swiper-slide {
            margin-top: 5px;
        }
    }
    
    &-append & {
        display: block;
    }
}

.ems-extra-product {
    display: none;
    margin-top: 20px;
    padding: 20px;
    
    &-append & {
        display: block;
    }
}

.basket-empty {
    .ems-step0 .ems-order-cart-grid {
        display: none;
    }
}

.featured-prds-cart{
    background-color: $color255;
    margin-top: 30px;
}