form[action*="siparisSonuc"] {
    .ems-page-order-grid {
        padding: 0;
    }
}

.ems-order-result {
    padding: 30px 20px;
    background: $order-pages-module-bg;

    br {
        display: none;
    }
}

.result-content {
    .rlogo {
        width: 50%;
        max-width: 200px;
    }
    .ricon {
        margin-top: 80px;
        font-size: 70px;
        color: $color255;
        background: $color30;
    }
    .icon-error {
        background: $color29;
    }
    .rtitle {
        font-size: 22px;
        font-weight: 700;
        margin-top: 20px;
    }
    .rdesc {
        font-family: $font2;
        font-size: 16px;
        margin-top: 10px;
    }
    .rbtns {
        margin-top: 50px;
        width: calc(100% - 40px);
        max-width: 330px;
        > a {
            width: 100%;
            margin-top: 10px;
        }
    }
}

[id$="lblSIP_BELIRLIERROR"] {
    display: block;
    margin-top: 40px;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    @extend .ems-container;
    @extend .ems-container-small;
    &:empty {
        @extend .ems-none;
    }
}

//guest
.kutuDefault.kutuUyelikOneri {
    display: none;
    margin-top: 30px;
    text-align: left;
    background: $color3;
    color: $color0;
    padding: 20px;
    border-radius: 5px;

    .kutuUyelikOneri-append & {
        display: block;
    }
}
.kutuHeaderUyelikOneri {
    font-family: $font2;
    font-size: 15px;
}
.kutuBodyUyelikOneri {
    margin-top: 10px;
}
.kutuUyelikOneri_sifre {
    > span {
        @extend .ems-form-label;
        display: block;
    }
}
.kutuUyelikOneri_onay {
    margin-top: 10px;
    font-family: $font2;
    font-size: 13px;
}
.kutuUyelikOneri_btnSend {
    margin-top: 30px;
    text-align: center;
}