.ems-page-order {
    background: $color9;
    min-height: calc(100vh - #{$site-header-height});

    &-grid {
        padding-top: 20px;
    }

    .block1 {
        background: $color255;
        padding: $container-gap;
        margin-top: 30px;
    }

    .block2 {
        margin-top: 30px;
        padding: 20px $container-gap 5px;
        background: $color255;
        > .page-top-title {
            margin-bottom: 15px;
        }
    }
}

.order-module-buttons {
    background: $color255;
    padding: 0 $container-gap 25px;
    font-weight: 400;
    a.btnDefault {
        @extend %btn-reset;
    }
    .icon-triangle-b {
        --color1: #000;
        @include setTurn(90);
    }
}

.bottom-step {
    background: $color255;
    padding: 5px;
    a {
        width: 100%;
        @extend %btn-medium;
        ~ a {
            margin-top: 5px;
        }
    }

    .ems-step0 & {
        padding: 0;
        background: none;
        margin-top: 20px;
    }
}