.ems-order-payment {
    &-grid {
        grid-template-columns: 20px 1fr minmax(auto, 780px) 20px 380px 1fr 20px;
        grid-template-areas: ". . ga1 . ga2 . .";
        @include setGridArea(1,2);
    }
}

.ems-pay-type {
    &-list {
        a {
            font-size: 16px;
            padding: 14px 20px;
        }
    }
}

.ems-card-wrapper {
    display: block;
}
[id$="pnlKrediKartiBilgi"] {
    padding-right: 55%;
}

.ems-pay-summary {
    > div {
        + div {
            margin-top: 0;
            margin-left: 30px;
        }
    }
}
.tableOdemeBilgiHavale_tddrpBNK_KOD_HV{
    table{
        tbody{
            tr{
                td{
                    &:nth-child(1){
                        display: inline-flex;
                    }
                }
            }
        }
    }
}