.ems-order-payment {
    &-grid {
        grid-template-columns: 20px 1fr minmax(auto, 780px) 20px 380px 1fr 20px;
        grid-template-areas: ". . ga1 . ga2 . .";
        @include setGridArea(1,2);
    }
}

[id$="ODM_ACIKLAMA"]:not(:empty) {
    padding-left: 20px;
    padding-right: 20px;
}

.ems-card-wrapper {
    display: block;
}
[id$="pnlKrediKartiBilgi"] > * {
    max-width: 330px;
}

.ems-billing-address,
.siparisOnaySozlesmeHolder {
    margin-top: 0;
    margin-left: 40px;
}