.ems-page-order {
    background: $color9;
    height: calc(100vh - #{$site-header-height});
    .block1 {
        background: $color255;
        padding: $container-gap;
        margin-top: 30px;
    }

    .block2 {
        background: $color255;
        padding: $container-gap;
        margin-top: 30px;
        .block2 {
            background: unset;
            padding: unset;
            margin-top: unset;
            border-top: unset;
        }
    }
}

.bottom-step {
    margin-top: 15px;
    a {
        display: block;
        margin-top: 5px;
    }
}