.ems-order-delivery {
    .ems-order-cart-grid {
        > .ga1 {
            display: none;
        }
    }
}

.ems-grid-table-address {
    background: $order-pages-module-bg;
    padding: 0 $container-gap;
    .ems-grid-row {
        grid-template-columns: 1fr;
        row-gap: 10px;
    }
}

.delivery-gift-select {
    padding: 20px $container-gap;
    font-weight: 400;
    border-radius: 4px;
}

.ems-delivery-tab {
    position: relative;
    padding: 0 $container-gap;
    overflow: hidden;
}
.ems-gift-tab {
    $bg: #ffe0e6;
    margin-top: 10px;
    .ems-delivery-tab {
        &-hdr {
            position: relative;
            background: $bg;
            &::before {
                content: "";
                position: absolute;
                right: 20px;
                top: 12px;
                width: 80px;
                height: 49px;
                background: url(/images/frontend/gift-pack.svg) center top no-repeat;
                transition: top 0.2s cubic-bezier(0.18, -0.54, 1, 0.74);
            }
        }
        &-wrp {
            background: $bg;
            padding: 40px 20px 20px;
            display: none;
        }
    }

    &-opened {
        .ems-delivery-tab {
            &-hdr {
                &::before {
                    top: -12px;
                    height: 127px;
                    background-position: center bottom;
                }
            }
            &-wrp {
                display: block;
            }
        }
    }
}
.ems-cargo-tab {
    margin-top: 30px;
    background: $order-pages-module-bg;
    padding: 20px $container-gap;
}
.divTeslimatKargo {
    $cargoImgW: 89px;
    li {
        position: relative;
        padding: 20px 20px 20px #{$cargoImgW + 40px};
        border: 1px solid $color1;
        display: flex;
        flex-wrap: wrap;
        + li {
            margin-top: 15px;
        }
    }
    img {
        order: 1;
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        max-width: $cargoImgW;
    }
    .kargoAdi {
        order: 2;
    }
    .fiyat {
        order: 3;
        &::before {
            content: "-";
            margin-left: 5px;
            margin-right: 5px;
        }
    }
    .kargoBilgi {
        order: 4;
        margin-top: 5px;
        flex-basis: 100%;
        font-family: $font2;
        font-size: 11px;
        line-height: 1.5;
    }

    .kargoAdi,
    .fiyat {
        font-weight: 700;
    }

    .sStylerWrp_radio {
        @extend %btn-full;
        margin: 0;
    }
    .radioButton {
        display: block !important;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }
}


form[action*="adr=0"] {
    #plhAdresBilgiHeader,
    #plhAciklama {
        @extend .ems-none;
    }
}
.ems-new-address {
    position: relative;
    .ems-message {
        margin-top: 30px;
    }
    .ems-form {
        margin-top: 30px;
    }
    #plhAdresTipi {
        justify-content: flex-start;
    }
    #plhTcDegilLabel {
        margin-bottom: -1px;
    }
    a.btnAdresIptal {
        @extend %btn-secondary;
    }
}
.bireysel {
    .vergNoCheck,
    .vergCheck {
        display: none;
    }
}
.kurumsal {
    .tcCheck,
    .tcCheck-2 {
        display: none;
    }
}
.ems-page-order {
    .ems-new-address {
        @extend .ems-container;
        max-width: $member-page-width;
        background: $member-pages-module-bg;
        padding: #{$member-pages-pt} #{$container-gap} #{$member-pages-pb};
    }
}
