.ems-order-payment {
    .block1 {
        &::after {
            content: "";
            background: linear-gradient(0deg, white, transparent);
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 100px;
            z-index: 1;
        }
    }
    .ems-grid-table-cart {
        max-height: 300px;
        overflow-y: auto;
        padding-right: 10px;
        &::-webkit-scrollbar {
            width: 4px;
        }
        &::-webkit-scrollbar-track {
            background: #d8d8d8;
            border-radius: 2px;
        }
        &::-webkit-scrollbar-thumb {
            background: #000;
            border-radius: 2px;
        }
        > .ems-grid-row {
            grid-template-columns: 75px 1fr;
            border-color: transparent;
            padding: 10px 10px 10px 0;
            grid-row-gap: 0;
        }
        .ems-grid-name {
            [id$="lblProm"] {
                display: none;
            }
        }
        .qty-wrapper {
            width: auto;
            text-align: center;
        }
        .ems-grid-price {
            .price-wrapper {
                justify-content: flex-end;
            }
            .dvSepetKazancOran:not(:empty) {
                text-align: right;
            }
        }
    }
}

.ems-pay-type {
    &-list {
        ul {
            display: flex;
            flex-wrap: wrap;
            background: $color27;
        }
        a {
            display: block;
            background: $color27;
            padding: 12px 14px;
            font-size: 12px;
            font-weight: 500;
            &.emos_selected {
                background: $color255;
            }
        }
    }
    &-content {
        position: relative;
        background: $color255;
        padding: 20px $container-gap;
    }
}
[id$="pnlPesinDiger"] {
    display: none;
}

.masterpassContent {
    display: block !important;
    margin-top: 15px;
}
.imgMasterpassLogo {
    width: auto !important;
}
.masterPassForms {
    position: relative;
    margin-top: 20px;
    > div + div {
        margin-top: 10px;
    }
}
.masterpassAciklama {
    font-size: 13px;
}
.dvAddCreditCard {
    display: flex;
}
.dvMpCardAliasName {
    flex: 1;
    padding-right: 5px;
}

.masterpass_cardAddedSuccess {
    margin-bottom: 30px;
}
.masterpass_linkCard {
    margin-bottom: 30px;
}
.masterpass_cardList {
    margin-bottom: 30px;
}
.masterpassLogo_cardList {
    display: none;
}
.mpCreditCardSet {
    font-size: 14px;
    color: $color255;
    background: $color6;
    border-radius: 5px;
    padding: 20px;
    display: grid;
    grid-template-columns: 15px 1fr max-content;
    grid-gap: 0 10px;
    align-items: center;

    + .mpCreditCardSet {
        margin-top: 15px;
    }
}
.lnkDeleteMasterPassCard {
    text-decoration: underline;
}
.mpNewCreditCard {
    margin-top: 20px;
    display: flex;
    align-items: center;
    input[type="radio"] {
        margin-right: 7px;
    }
}
.dvOtpForm {
    > * {
        margin-top: 10px;
    }
}
.mpInfoText {
    padding: 0 !important;
}
.resendCodePlace {
    > * {
        margin-top: 10px;
    }
}
.validateOtp,
.btnResendOtp {
    @extend %btn;
    cursor: pointer;
}

.pageOdemeBilgi_chkKrediKartiBonusPara {
    margin-top: 20px;
}

[id$="ODM_ACIKLAMA"]:not(:empty) {
    display: block;
    margin-top: 20px;
}

.ems-card-wrapper {
    display: none;
    position: absolute;
    right: 70px;
    top: 0;
    z-index: -1;
}

.tableTitleOdemeBilgiKrediKarti,
.tableTitleOdemeBilgiHavale {
    display: none;
}
.tableOdemeBilgiKrediKarti {
    input {
        width: 100% !important;
        text-transform: uppercase;
    }
    tbody {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    tr {
        display: flex;
        flex-direction: column;
        text-align: left;
        flex-basis: 100%;
        + tr {
            margin-top: 20px;
        }
        &:nth-child(2) {
            flex-basis: 70%;
        }
        &:nth-child(3) {
            flex-basis: 28%;
        }
    }
    th {
        @extend .ems-form-label;
    }
    td {
        &.tableOdemeBilgiKrediKarti_tddrpKSA_SPR_ID {
            > span {
                display: inline-block;
                text-align: center;
                &:nth-child(1) {
                    width: 85px;
                    margin-right: 5px;
                }
                &:nth-child(2) {
                    width: calc(100% - 90px);
                }
            }
        }
        &.tableOdemeBilgiKrediKarti_tdtxtKKARTCVCNO {
            font-size: 0;
        }
    }
    .div-cc-carttype,
    [id$="CVC_NEDIR"] {
        display: none !important;
    }
}

.tableOdemeBilgiHavale {
    .tableOdemeBilgiHavale_thlbfBNK_AD_HV {
        display: none;
    }
    table {
        margin-top: -10px;
        td {
            padding: 10px 0;
        }
    }
    .link {
        text-align: right;
        color: #fff;
        > a {
            min-width: 150px;
        }
    }
}

.pageDecOdemeBilgi {
    margin-top: 10px;
}

.pageOdemeBilgi_chkBankaBonus {
    margin-top: 20px;
    font-size: 14px;
}

.lnkOdemeTaksit {
    display: block;
}
.pageOdemeBilgi_odemeTaksit {
    margin-top: 20px;
    #imgBANKALOGO {
        display: none;
    }
}
.tableOdemeTaksit {
    table-layout: fixed;
    td {
        border: 1px solid $color5;
        padding: 10px 5px;
        text-align: center;
        &:nth-child(1) {
            width: 40px;
        }
    }
}
.tableTitleOdemeTaksit td {
    @extend .ems-form-label;
}

.ems-pay-address {
    background: $color255;
    padding: 20px $container-gap 0;
    margin-top: 30px;
    .page-top-title {
        margin-bottom: 0;
    }
    .ems-wrapper {
        > div {
            padding: 20px 0;
            + div {
                border-top: 1px solid $color1;
            }
        }
    }
    &-label {
        font-weight: 600;
        margin-bottom: 10px;
    }
    &-obj {
        font-family: $font2;
        font-size: 12px;
        line-height: 1.5;
    }
}

.tableTitleSiparisOnaySatisSozlesme,
.tableTitleSiparisOnBilgilendirmeForm {
    padding: 10px 0;
    font-weight: 700;
    line-height: 32px;
    cursor: pointer;
    display: none;
}
.pageSiparisOnay_lbfSatisSozlesme,
.pageSiparisOnay_lbfOnBilgilendirmeForm {
    background: $color255;
    padding: 0 $container-gap;
}
.pageSiparisOnay_chkSatisSozlesme,
.pageSiparisOnay_chkOnBilgilendirmeForm {
    padding: 20px 0;
    a {
        text-decoration: underline;
    }
}
.pageSiparisOnay_chkSatisSozlesme {
    border-top: 1px solid $color1;
}
.pageSiparisOnay_btnSatisSozlesmeOnizle,
.pageSiparisOnay_btnOnBilgilendirmeFormOnizle {
    display: none;
}
.siparisOnaySozlesmeMetin,
.onBilgilendirmeFormMetin {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: calc(100vh - 100px);
    max-width: 910px;
    background: $color255;
    > span {
        height: inherit !important;
        padding: 0 20px;
        overflow-x: hidden !important;
        a.btnDefault {
            @extend %btn-reset;
        }
    }
    .a1 {
        position: sticky;
        top: 0;
        z-index: 1;
        margin: 0 -20px;
    }
}
.ems-form1-animate {
    .agreement-overlay,
    .onBilgilendirmeFormMetin {
        display: block;
    }
}
.ems-form2-animate {
    .agreement-overlay,
    .siparisOnaySozlesmeMetin {
        display: block;
    }
}