$order-pages-bg: $color9;
$order-pages-module-bg: $color255;
.ems-page-order {
    background: $order-pages-bg;
    min-height: calc(100vh - #{$site-header-height});

    &-grid {
        padding-top: 20px;
    }
}

.order-module-buttons {
    padding: 15px $container-gap;
    font-weight: 400;
    a.btnDefault {
        @extend %btn-reset;
    }
    .icon-triangle-b {
        --color1: #000;
        @extend .ems-rotate-left;
    }
    .ems-step0 & {
        background: $order-pages-module-bg;
        padding-top: 0;
        padding-bottom: 25px;
    }

    &:empty {
        @extend .ems-none;
    }
}

.bottom-step {
    background: $order-pages-module-bg;
    padding: 5px;
    a {
        width: 100%;
        @extend %btn-medium;
        ~ a {
            margin-top: 5px;
        }
    }

    .ems-step0 & {
        padding: 0;
        background: none;
        margin-top: 20px;
    }
}