.ems-page-product-list {
    padding-bottom: 45px;

    &.no-result {
        .navigasyon,
        .categories-append,
        .top-buttons,
        .ems-sort {
            @extend .ems-none;
        }
        .ems-message-product-list {
            margin-top: 30px;
        }
    }
}

.category-top-banner {
    margin-bottom: 40px;

    .ems-responsive-item {
        @include aspect-ratio(1920, 305);
    }
    .banner-body{display: none;}
}

.ems-prd-list-count {
    margin-top: 20px;
    padding: 0 $container-gap;
    font-family: $font2;
    font-size: 15px;
}

.top-buttons {
    margin: 20px 0 0;
    > div {
        padding: 0;
    }
    a {
        $border: $color9;
        border-color: $border;
        border-left: none;
        border-right: none;
        line-height: 58px;
        padding: 0 10px;
        &.btn-filter-popup {
            border-right: 1px solid $border;
        }
    }
    svg {
        font-size: 36px;
    }
}

ul.product-list-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 18px 15px;
    padding: 20px;
    transition: all .3s cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */
    > li {
        overflow: hidden;
    }
    .view-1 & {
        grid-template-columns: 1fr;
        grid-gap: 30px 0;
    }

    &:empty {
        display: none;
    }
}

$prd-body-bg: $color255;
$prd-pd-x: 0;
$prd-pd-y: 18px;
.ems-prd {
    
    &-inner {
        position: relative;
        font-weight: 400;
        border: 1px solid $color9;
        padding: 25px 15px 10px;
    }
    &-body {
        //background: $prd-body-bg;
        //color: $color0;
        padding: $prd-pd-y $prd-pd-x;
    }
    &-image {

        > a {
            @extend %ems-responsive-item;
            @include aspect-ratio(450, 600);
        }
    }
    &-cat {
        font-family: $font2;
        font-size: 12px;
        color: $color10;
        font-weight: 300;
        > span {
            display: block !important;
        }
        i {
            @extend .ems-none;
        }
        a {
            &:not(:last-child) {
                display: none;
            }
        }
    }
    &-favori{
        position: absolute;
        top: 1px;
        right: 1px;
        z-index: 1;
        width: 30px;
        height: 30px;
        a.btnDefault {
            background: url(/images/frontend/favoriteBtn.png) center center no-repeat;
            border: 0;
            width: 30px;
            height: 30px;
            padding: 0;
            &:hover, &.selected{
                background: url(/images/frontend/favoriteBtnFull.png) center center no-repeat;
            }
        }
    }
    &-name {
        margin-top: 3px;
        font-weight: 500;
        font-size: 13px;
        > a {
            display: block;
            white-space: pre-wrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    &-price {
        margin-top: 8px;
    }
    &-badge {
        font-family: $font2;
        font-size: 11px;
        position: relative;
        min-height: 18px;
        > div {
            display: none;
            position: absolute;
            left: 1px;
            top: 1px;
            background: $prd-body-bg;
            min-height: 18px;
            text-align: left;
            z-index: 1;
            > span {
                display: block;
            }
            b {
                font-weight: 600;
            }
        }
    }
}
.urunListe_adet {
    [id$="txtURN_ADET"],
    [id$="lblURN_ADET"] {
        display: none;
    }
}
.urunListe_favoriEkle{
    display: block !important;
}
//badges
.indirimli {
    .urunListe_pnlIndirimOran {
        display: block !important;
        color: $color1;
    }
}
.yeniUrun {
    .urunListe_yeniUrun {
        display: block !important;
    }
}
.tukendi {
    .urunListe_urunStokUyari {
        display: block !important;
        width: 100%;
        color: $color1;
    }
}
.urunListe_yeniUrun {
    position: absolute;
    top: 1px;
    left: 1px;
    background:#fff;
    z-index: 1;
    padding:5px 10px 0 10px;
    width: auto;
    text-align: center;
    color: $color2;
    font-weight: 700;
    font-size: 13px;
}
.urunListe_promosyonListe {
    position: absolute !important;
    display: block !important;
    color: $color1;
    &:empty {
        @extend .ems-none;
    }
}

//horizontal product
.swiper-product-horizontal {
    .ems-prd {
        border-bottom: 1px solid $color6;
        &:last-child {
            border-bottom-color: transparent;
        }
        &-inner {
            display: flex;
            flex-wrap: wrap;
            padding: 10px 10px 80px 100px;
        }
        &-badge {
            display: none;
        }
        &-image {
            position: absolute;
            left: 10px;
            top: 10px;
            max-width: 95px;
            padding: 10px;
        }
        &-body {
            flex: 1;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding: 0;
            background: none;
            > div {
                padding: 10px;
            }
        }
        &-name {
            flex-basis: 100%;
            font-family: $font2;
            > a {
                white-space: normal;
            }
        }
        &-price {
            margin-top: 0;
            font-size: 20px;
        }
        &-add-to-cart {
            display: block;
            position: absolute;
            right: 10px;
            left: 10px;
            bottom: 0;
        }
    }
    .urunListe_sepetGrup {
        display: flex;
        align-items: center;
    }
    .urunListe_adet {
        width: 120px;
        .sStylerWrp_select {
            height: 40px;
            line-height: 40px;
        }
    }
    .urunListe_sepet {
        flex: 1;
        padding-left: 20px;
    }
    a.btnSepeteAt {
        width: 100%;
        @extend %btn-transparent;
    }
}