.ems-page-product-list {
    padding-bottom: 130px;
    
    &-grid {
        position: relative;
        grid-template-columns: minmax(20px, $d-container-gap) 210px minmax(50px, 105px) minmax(700px, 1fr) minmax(20px, $d-container-gap);
        grid-template-areas: "ga1 ga1 ga1 ga1 ga1" ". ga2 . ga3 .";
        @include setGridArea(1,3);
    }
}

.category-top-banner {
    margin-bottom: 40px;
}

.ems-prd-list-count {
    margin-top: 40px;
    padding: 0;
}

ul.product-list-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 7px 20px;
    padding: 30px 0;
    
    .view-2 & {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 42px 25px;
    }
}

.ems-prd {
    &-image {
        padding: 40px 25px 30px;
    }
    &-badge {
        > div {
            padding: 20px 20px 0;
        }
    }
}

.swiper-product-horizontal {
    .ems-prd {
        &-inner {
            padding: 10px;
        }
        &-image {
            position: static;
        }
        &-name {
            flex: 1;
        }
        &-add-to-cart {
            position: static;
            flex: 1;
        }
    }
}