.ems-page-product-detail {
    padding-bottom: 45px;
}

.ems-prdd {
    &-grid {
        font-family: $font2;
        font-weight: 300;
        > .ga1 {
            @include padding-x;
        }
    }

    &-small-img{
        display: none;
    }
    &-code {
        color: #c4c0c1 !important;
        margin-top: 30px;
    }
    &-name {
        font-size: 18px;
        font-weight: 400;
        margin-top: 5px;
    }
    &-price {
        font-family: $font1;
        font-size: 20px;
        margin-top: 15px;
        [id*="KDVDAHILSATIS"] {
            display: none;
        }
    }
    &-badge {
        position: relative;
        height: 16px;
        > div {
            display: none;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            background: $color255;
            width: 100%;
            text-align: right;
            > span {
                display: block;
            }
            b {
                font-weight: 600;
            }
        }
    }
    &-gallery {
        margin-bottom: 30px;
        .swiper-left-column{
            display: none;
        }
        .swiper-pagination {
            position: relative;
            min-height: auto;
            padding:5px 10px;
            text-align: center;
            &:empty{display: none;}
        }
    }
    &-size-btns{
        > * > *{
            margin-top: 25px;
        }
        .uniform-design-header{
            display: none;
        }
    }
    &-size {
        margin-top: 15px;
    }
    &-add-to-cart {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 6;
        width: 100%;
        a.btnStokHaberci{
            padding: 0 5px;
        }
    }
    &-block2 {
        margin-top: 35px;
        > span {
            display: flex;
            + span {
                margin-top: 15px;
            }
        }
        a.btnDefault {
            @extend %btn-transparent;
            @extend %btn-transparent-border;
            @extend %btn-icon;
            font-family: $font2;
            &.btnFiyatDus{
                margin-top: 5px;
                margin-bottom: 10px;
            }
        }
        svg {
            font-size: 42px;
            color: $color1;
            border: 1px solid currentColor;
            padding: 9px;
            margin-right: 10px;
            border-radius: 100%;
        }
    }
}

//badges
.indirimli {
    #plhKazancOran {
        display: block !important;
        color: $color1;
    }
}
.yeniUrun {
    #plhYeniUrunBtn {
        display: block !important;
        color: $color11;
    }
}
.tukendi {
    #plhStokUyari {
        display: block !important;
    }
}
.urunDetay_promosyonListe {
    display: flex !important;
    font-size: 13px;
    color: $color1;
    > div {
        width: 100%;
        + div {
            &::before {
                content: ", ";
            }
        }
    } 
}
.urunDetay_stokListe{
    height: 16px;
    > span{
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        background: #fff;
        &:last-child{
            z-index: 2;
            color: #A90534;
        }
    }
}

//other colors
.UrunListeGrup_listeUrunDetayGrup {
    margin-top: 30px;
    .listeUrunDetayGrup_listeBaslik,
    .URN_AD {
        display: none;
    }
    ul {
        display: flex;
        align-items: center;
        > li {
            width: 25px;
            height: 25px;
            overflow: hidden;
            border-radius: 100%;
            cursor: pointer;
            &.selected {
                border: 2px solid $color8;
            }
            + li {
                margin-left: 10px;
            }
        }
    }
    .URN_RESIM {
        margin-top: -25%;
    }
}

//sizes
$m: 5px;
.dropdown-options {
    display: block !important;
    margin: 0 #{-$m} #{-$m};
    font-size: 0;
    user-select: none;
    > a {
        display: inline-block;
        min-width: calc((100% / 4) - 10px);
        padding-left: 5px;
        padding-right: 5px;
        line-height: 48px;
        border: 1px solid $color4;
        margin: #{$m};
        font-size: 15px;
        text-align: center;
        position: relative;
        &.selectedOption {
            background: $color2;
            color: $color255;
        }
        &.stokYok {
            color: $color3;
            //pointer-events: none;
            .dropdownrow{
                text-decoration: line-through;
            }
        }
    }
}
.dropdown-trigger {
    display: none;
}

.open-size-guide {
    display: none;
    margin-right: 30px;
    text-decoration: underline;
    &.show{
        display: inline-flex;
    }
}


//add to cart
.pnlSepetGrup {
    display: flex !important;
    align-items: center;
}
.urunDetay_urunAdet {
    height: 60px;
    background-color: $color1;
    width: 125px;
    .sStylerWrp_select {
        font-family: $font1;
        font-size: 15px;
        color: $color255;
        background-color: inherit;
        line-height: 60px;
        height: 100%;
        border: none;
    }
    [id$="txtURN_ADET"],
    [id$="lblURN_ADET"] {
        @extend .ems-none;
    }
}
.urunDetay_btnSepeteAt {
    flex: 1;
}
a.btnsepeteAt {
    width: 100%;
    @extend %btn-primary;
    @extend %btn-large;
}

.tukendi {
    .pnlSepetGrup {
        display: none !important;
    }
}
a.btnStokHaberci {
    width: 100%;
    //pointer-events: none;
    @extend .btn-large;
}

//added to cart
.mini-product-info {
    display: none;
    $p: 20px;
    $pm: 10px;
    $py: 28px;
    &-sub {
        @extend %footer-mods-sub;
        padding: $py $p;
    }
    .sub-close {
        right: 20px;
        top: 20px;
    }
    .sub-header {
        margin: #{0} #{0} #{$p};
        &-mobile{
            margin: #{0} #{0} #{$pm};
            font-size: 16px;
        }
    }
    &-ready {
        .mini-product-info {
            @extend %footer-mods-sub-ready;
            &-sub {
                @extend %footer-mods-sub-ready;
            }
        }
    }
    &-animate {
        .mini-product-info {
            &-overlay {
                @extend %footer-mods-sub-overlay;
            }
            &-sub {
                @extend %footer-mods-sub-animate;
            }
        }
    }
}
.added-prd {
    grid-template-columns: 110px 20px 1fr; 
    grid-template-rows: max-content 1fr;
    grid-template-areas: "ga1 . ga2" "ga3 ga3 ga3";
    @include setGridArea(1,3);
    > .ga2{
        align-self: center;
    }
    > .ga3{
        align-self: flex-end;
    }
    .prm-media-holder {
        position: relative;
        background: #eee;
        svg {
            position: absolute;
            top: 9px;
            left: 9px;
            font-size: 22px;
            animation: message .5s ease;
            background: $color255;
            border-radius: 100%;
        }
    }
    .prm-title {
        font-size: 14px;
        font-weight: 400;
        word-break: break-word;
    }
    .prm-desc {
        font-family: $font2;
        font-size: 15px;
        margin-top: 10px;
    }
    .prm-btns {
        $m: 5px;
        margin-top: 20px;
        a {
            padding: 0 5px;
            > span{
                line-height: 48px;
            }
        }
    }
}
.suggest-prd {
    display: none;
    border-top: 1px solid $color4;
    margin-top: 20px;
    .prm-title {
        font-family: $font2;
        font-size: 15px;
        font-weight: 700;
        padding: 20px 0;
    }
}

//size guide
.bedenBilgiWrp{
    .title,
    .tab-holder{
        display: block;
        font-family: $font1;
        font-weight: 600;
        font-size:16px;
        margin-bottom: 20px;
    }
    .head{
        .title{
            display: none;
        }
    }
    .body-table-out,
    .cont{
        display: flex;
        justify-content: center
    }
    .body-table-out {
        flex-wrap: wrap;
        align-items: center;
    }
    .img{
        display: none;
    }
    .head,
    .group{
        width: 100%;
    }
    .group:not(:last-child){
        margin-bottom: 50px;
    }
    .cont{
        width: 100%;
        flex-wrap: wrap;
        align-items: flex-start;
        overflow-y: auto;
    }
    .bodyTableIn{
        tr:empty{
            display: none;
        }
        tr:first-child{
            background: #252525;
            >  *{
                color: $color255;
            }
        }
        tr th,
        tr td{
            text-align: center;
            font-family: $font2;
            font-size: 14px;
            font-weight: 300;
            padding:12px 1px 10px 1px;
        }
        tr td{
            border-right: 1px solid #ededed;
            &:last-child{border-right: 0;}
        }
        tr:not(:first-child){
            &:nth-child(even) {
                background: #f2f2f2;
            }
            &:nth-child(odd) {
                background: $color255;
            }
        }
    }
}
//size guide popup
.mini-size-guide {
    display: none;
    $p: 20px;
    .sub-close{
        top: 17px;
        right: 15px;
        z-index: 5;
    }
    &-sub {
        @extend %footer-mods-sub;
        padding: $p;
        background-image: url(/images/frontend/size_chart_bg.jpg);
        background-color: hsla(0,0%,100%,0.75);
        background-blend-mode: overlay;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .sub-header {
        margin: #{-$p} #{-$p} #{$p};
        padding: 16px #{$p} 16px #{$p};
        background: #ffffff;
    }
    &-tab {
        margin: 20px auto 0 auto;
    }
    .ems-tab-header {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid $color4;
        justify-content: flex-start;
    }
    .ems-tab-content {
        max-height: calc(100vh - 250px);
        overflow: auto;
    }

    &-ready {
        .mini-size-guide {
            @extend %footer-mods-sub-ready;
            &-sub {
                @extend %footer-mods-sub-ready;
            }
        }
    }
    &-animate {
        .mini-size-guide {
            &-overlay {
                @extend %footer-mods-sub-overlay;
            }
            &-sub {
                @extend %footer-mods-sub-animate;
            }
        }
    }
}

.size-guide-table {
    + .size-guide-table {
        margin-top: 40px;
    }
}

//find in store
.ems-find-store {
    display: none;
    $p: 20px;
    &-sub {
        @extend %footer-mods-sub;
        padding: $p;
    }
    .sub-header {
        margin: 0 #{-$p} #{$p};
        font-size: 16px;
        padding: 0 20px 20px;
        border-bottom: 1px solid #eeeeee;
        .sub-close{
            top:0;
            right: 15px;
        }
    }
    .dealer-form {
        .ems-form-label{
            line-height: 1.2;
        }
        .ems-field-css {
            margin-top: 0;
            width: calc((100% / 3) - 15px);
            flex: 1;
            margin-right: 15px;
            &:last-child{
                margin-right: 0;
            }
        }
    }
    #findStoreBtn {
        width: 100%;
        line-height: 48px;
    }
    .ems-message {
        margin-top: 10px;
    }
    .dealer-no-stock {
        display: none;
    }
    .quantity {
        display: block;
        margin-top: 5px;
        color: $color4;
    }

    &.ems-no-result {
        .address-detail,
        .dealer-stock-information {
            display: none;
        }
        .dealer-no-stock {
            display: flex;
        }
    }

    &.ems-result-found {
        .service-list {
            display: block;
        }
    }

    &-ready {
        .ems-find-store {
            @extend %footer-mods-sub-ready;
            &-sub {
                @extend %footer-mods-sub-ready;
            }
        }
    }
    &-animate {
        .ems-find-store {
            &-overlay {
                @extend %footer-mods-sub-overlay;
            }
            &-sub {
                @extend %footer-mods-sub-animate;
            }
        }
    }
}
.ems-social-popup-span{
    cursor: pointer;
    svg{
        border: none;
        border-radius: 0;
        padding: 0 !important;
        color: #000;
        margin-top: -2px;
        margin-right: 0;
        font-size: 30px;
    }
}
.ems-social-popup-link{
    position: relative;
}
.ems-social-popup{
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
    background: #fff;
    animation: animation-01 .32s ease;
    a{
        display: inline-block;
        margin-right: 5px;

        &:last-child{
            margin-right: 0;
        }
    }
    &.open{
        display: block;
    }
}

//ZOOM
.zoom-gallery {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 8;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: $color3;
    &-inner {
        height: 100%;
    }

    .zoom-gallery-header {
        position: relative;
        z-index: 2;
        .icon-close{
            color: #fff;
        }
    }

    .thumbs-wrapper {
        display: none;
        position: absolute;
        left: calc((100% - 1040px) / 2);
        top: 50%;
        transform: translateY(-50%);
        width: 60px;
        height: 318px;
        .swiper-slide {
            cursor: pointer;
            opacity: .25;
            &.active {
                opacity: 1;
            }
        }
    }

    .zoom-gallery-footer {
        display: none;
    }

    .swiper-pagination {
        position: absolute;
        padding: 10px;
    }
    
    &-ready {
        position: fixed;
        .zoom-gallery {
            display: block;
        }
    }
}

//primary properties
.prop-container {
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid $color4;    
}
.prop {
    font-family: $font2;
    font-size: 15px;
    color: $color6;
    padding: 0 3px;
    flex: none;
    width: calc(100% / 3);
    &-title {
        margin-top: 3px;
    }
}

//featured prds
.featured-prds {
    padding-top: 60px;
}

.uniform{
    &-ready{
        .uniform-design-header{
            display: inline-flex;
        }
    }
}