.navigasyon {
    background-color: transparent;
    > [id$="lblNavigation"] {
        padding-left: $d-container-gap;
        padding-right: $d-container-gap;
    }
    ol {
        li {
            opacity: .75;
            &:last-child {
                opacity: 1;
            }

        }
    }
}

.nav-type2 {
    .navigasyon {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
    }
}