.navigasyon {
    $h: 50px;
    position: relative;
    padding: 0 $container-gap;
    min-height: $h;
    line-height: $h;
    font-family: $font2;
    font-size: 12px;
    font-weight: 300;
    background: $color9;
    ol {
        margin: 0;
        padding: 0;
        display: flex;
        li {
            list-style: none;
        }
        .nav-sep {
            margin: 0 2px;
        }
    }
}

.navigation-full-path {
    display: none;
}