$btn-cursor: 10px;

%btn {
    position: relative;
    display: inline-block;
    padding: 0 20px;
    background: $color1;
    border: 1px solid transparent;
    font-family: $font1;
    font-size: 14px;
    color: $color255;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0.1px;
    transition: all .32s ease;
    outline: none;
    cursor: pointer;
    > span {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-hover {
        background: $color2;
    }
    
    &:hover {
        @extend %btn-hover;
    }

    &-primary {
        background: $color2;
        &-hover {
            background: $color1;
        }
        &:hover {
            @extend %btn-primary-hover;
        }
    }

    &-secondary {
        background: $color9;
        color: $color0;
        &-hover {
            background: $color6;
            color: $color0;
        }
        &:hover {
            @extend %btn-secondary-hover;
        }
    }

    &-transparent {
        background: transparent;
        color: inherit;
        border-color: $color9;
        &-hover {
            background: transparent;
        }
        &:hover {
            @extend %btn-transparent-hover;
        }
    }

    &-transparent-border {
        border-color: transparent;
    }

    &-icon {
        padding-left: 0;
        padding-right: 0;
        .icon-arrow1 {
            margin-left: 0 !important;
        }
    }

    &-close {
        line-height: 1;
    }

    &-size01 {
        min-width: 170px;
    }

    &-medium {
        line-height: 48px;
    }

    &-large {
        font-size: 15px;
        line-height: 58px;
    }

    &-full {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: none;
        border: none;
        margin: 0;
        padding: 0;
        > * {
            display: none;
        }
    }

    &-reset {
        padding: unset;
        background: unset;
        border: unset;
        font-family: unset;
        font-size: unset;
        color: unset;
        font-weight: unset;
        line-height: unset;
        letter-spacing: unset;
        &:hover {
            background: unset;
        }
    }

    &-group {
        $p: 5px;
        display: flex;
        margin-left: #{-$p};
        margin-right: #{-$p};
        > * {
            flex: 1;
            padding: 0 5px;
            > a {
                width: 100%;
                min-width: auto !important;
            }
        }
    }

    &-page-top {
        position: absolute;
        right: 20px;
        bottom: 0;
        background-color: #252525;
        border-radius:100%;
        svg {
            font-size: 53px;
            padding: 14.5px;
            border: 1px solid lighten($color: $color3, $amount: 8);
            border-radius: 100%;
        }
    }
}

.btn,
a.btnDefault,
span.lnkDefault {
    @extend %btn;
    .icon-arrow1 {
        margin-left: #{$btn-cursor};
    }
    > span.emos_invisible {
        display: none;
    }
}

.btn-primary {
    @extend %btn-primary;
}

.btn-secondary {
    @extend %btn-secondary;
}

.btn-transparent {
    @extend %btn-transparent;
}

.btn-transparent-border {
    @extend %btn-transparent-border;
}

.btn-icon {
    @extend %btn-icon;
}

.btn-close {
    @extend %btn-close;
}

.btn-size01 {
    @extend %btn-size01;
}

.btn-medium {
    @extend %btn-medium;
}

.btn-large {
    @extend %btn-large;
}

.btn-full {
    @extend %btn-full;
}

.btn-reset {
    @extend %btn-reset;
}

.btn-group {
    @extend %btn-group;
}

.btn-page-top {
    @extend %btn-page-top;
}