.btn {
    &-page-top {
        position: fixed;
        //right: $d-container-gap;
        bottom: 0;
        z-index: 5;
        opacity: 0;
    }
}

%d-btn {
    &-primary {
        background: $color255;
        color: $color0;
        &-hover {
            background: $color0;
            color: $color255;
        }
        &:hover {
            @extend %d-btn-primary-hover;
        }
    }
}

.d-btn-primary {
    @extend %d-btn-primary;
}

//animation
.btn-page-top-show{
    .btn-page-top{opacity: 1;}
}