.btn {
    &-page-top {
        right: $d-container-gap;
        bottom: auto;
        top: 90px;
    }
}

%d-btn {
    &-primary {
        background: $color255;
        color: $color0;
        &-hover {
            background: $color0;
            color: $color255;
        }
        &:hover {
            @extend %d-btn-primary-hover;
        }
    }
}

.d-btn-primary {
    @extend %d-btn-primary;
}