//HIERARCHY MENU
.mobi-dropdown {
    position: relative;
    &-header {
        position: relative;
        border-top: 1px solid $color6;
        border-bottom: 1px solid transparent;
        padding: 15px 30px 15px 10px;
        margin-left: 10px;
        margin-right: 10px;
        font-weight: 700;
        letter-spacing: .93px;
        min-height: 50px;
        &::after {
            @extend %triangle;
            @extend %triangle-b;
            position: absolute;
            right: 10px;
            top: 50%;
            margin-top: -4px;
            transition: transform .32s ease;
        }
    }
    li {
        > a {
            display: flex;
            align-items: center;
            border-top: 1px solid transparent;
            border-bottom: 1px solid transparent;
            padding: 15px 20px;
            font-weight: 700;
            letter-spacing: .93px;
        }
    }
    svg {
        flex: none;
        margin: -7px 13px -7px 0;
    }

    > ul {
        display: none;
        animation: show .32s ease;
        position: absolute;
        top: 100%;
        z-index: 1;
        width: 100%;
        background: $color0;
        color: $color255;
        max-height: calc(100vh - 150px);
        overflow: auto;
        > li {
            > a {
                background: transparent right 70px center / 32px no-repeat;
                transition: all .2s ease-in-out;
            }
            &:hover,
            &.selected,
            &.act {
                > a {
                    padding-left: 30px;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23FFFFFF' d='M6 15h14v-3l6 4-6 4v-3H6z'/%3E%3C/svg%3E");
                    background-position: right 20px center;
                }
            }
            &.selected,
            &.act {
                display: none;
            }
        }
    }

    &.opened {
        .mobi-dropdown-header {
            border-color: $color6;
            &::after {
                @include turn-mirror;
            }
        }
        > ul {
            display: block;
        }
    }
}
//SYSTEM MENU
.kutuSolMenuTree {
    .mobi-dropdown {
        > a {
            display: none;
            padding: 50px 20px 30px;
            font-size: 18px;
            font-weight: 700;
        }
    }

    b,
    .kutuHeaderSolMenuTree,
    .kutuFooterSolMenuTree,
    .sev3 > ul {
        display: none;
    }
}

//CONTENT UTILITY
.ff2 {
    font-family: $font2;
}
.fwb {
    font-weight: 700;
}
.fst {
    font-size: 30px;
}
.fsd {
    font-size: 16px;
}
.c00 {
    color: $color0;
}
.c01 {
    color: $color1;
}
.c02 {
    color: $color2;
}
.c03 {
    color: $color3;
}
.c255 {
    color: $color255;
}
.obb {
    border-bottom: 1px solid $color4;
}
.mt0 {
    margin-top: 0;
}
.mt2 {
    margin-top: 20px;
}
.mt4 {
    margin-top: 40px;
}
.mt5 {
    margin-top: 50px;
}
.mb0 {
    margin-bottom: 0;
}
.mb5 {
    margin-bottom: 50px;
}

//TOP TITLE
.page-top-title {
    font-size: 20px;
    color: $color3;
    font-weight: 500;
}

//SECTION BG
.section-bg {
    &01 {
        position: absolute;
        left: 0;
        bottom: 0;
        background: center bottom / 600px no-repeat;
        width: 100%;
        height: 120px;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: -1;
            width: 100%;
            height: 9px;
            background: $color0;
        }
    }
}

//CARD
.card {
    position: relative;
    background: $color0;
    color: $color255;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 0 5px #000 inset;
    padding: 40px;
    animation: show .5s ease;
    &-logo {
        img {
            width: 40px;
        }
    }
    &-title {
        font-size: 16px;
        margin-top: 10px;
    }
    &-price {
        margin-top: auto;
        font-size: 32px;
        animation: show .5s ease;
        &:empty {
            display: none;
        }
    }

    &01 {
        width: 100%;
        max-width: 435px;
        height: 250px;
        background: #111111 url(/images/frontend/card01.png) left center/300px no-repeat;
        &:before {
            content: "";
            background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 25%, rgba(255,255,255,0.2) 55%, rgba(255,255,255,1) 100%);
            position: absolute;
            left: 0;
            top: 60%;
            width: 120%;
            height: 30%;
            transform: rotate(-45deg) translateY(-500%);
            animation: animation-08 2s ease .5s forwards;
        }
    }
    &02 {
        width: 100%;
        max-width: 340px;
        height: 190px;
        background: #111111 url(/images/frontend/card01.png) left top / 230px no-repeat;
        padding-left: 210px;
        padding-right: 20px;

        .card-logo {
            img {
                width: 30px;
            }
        }
        .card-title {
            font-size: 13px;
        }
    }
}

//GRADIENT
.gradient {
    &01 {
        min-height: 10px;
        background: linear-gradient(90deg, rgba(255,171,0,1) 50%, rgba(169,5,52,1) 50%);
    }
}

//BOX
.primary-box {
    background: $color0;
    color: $color255;
    padding: 40px 30px 50px;
    .ems-section-title {
        font-size: 30px;
        margin-bottom: 30px;
    }

    $p: 34px;
    .swiper-inner {
        margin-left: #{-$p};
    }
    .swiper-slide {
        padding-left: #{$p};
        width: calc(100% / 5);
    }
}

//COVER IMAGE
.primary-image {
    .banner {
        .prm-title {
            font-size: 30px;
        }
    }
}

//COVER VIDEO
.primary-video {
    background: $color0;
    color: $color255;
    padding: 70px 30px;
}

//SEO CONTENT
.seo-content {
    margin-top: 70px;
}

//LANDING PAGE
@mixin padding-x {
    padding-left: 20px;
    padding-right: 20px;
}
@mixin padding-x-remove {
    margin-left: -20px;
    margin-right: -20px;
}
//full desc
.fd {
    position: relative;
    z-index: 1;
    background: $color9;
    padding: 60px 0;
    margin-top: 60px;
    &-title {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 15px;
    }
    &-text {
        font-family: $font2;
        font-size: 15px;
        font-weight: 300;
        line-height: 1.5;
    }
    .prop-group {
        margin-top: 45px;
    }
    .banner15 {
        margin-top: -1px;
    }
    .ems-tab {
        margin-top: 50px;
    }
}
.lp-container {
    display: none;
    background: $color0;
    color: $color255;
    padding-bottom: 40px;

    &-active & {
        display: block;
    }
}
.lp-slider {
    .prm-media {
        video {
            @include setHeight(750, 900, 100vw);
        }
    }
}
.lp-content {
    .swiper-slide {
        width: 100%;
    }
}
.lp-products {
    padding-top: 60px;
}
//zebra content
.lp-z-content {
    margin-top: 80px;
    .banner {
        overflow: visible;
        align-items: flex-start;
    }
    .prm-media {
        flex-basis: 440px;
        transition: all .2s ease;
    }
    .banner-body {
        flex: 1;
        padding: 50px 200px 50px 70px;
        transition: all .2s ease;
    }
    .swiper-slide {
        &:nth-child(even) {
            margin-top: -100px;
            .banner {
                flex-direction: row-reverse;
            }
            .banner-body {
                padding: 300px 70px 50px 200px;
            }
        }
    }
}
//video
.lp-video {
    margin-top: 80px;
}

//MISC
.more-content {
    padding: 13px;
    font-family: $font2;
    font-size: 12px;
    svg {
        color: $color255;
    }
}