//HIERARCHY MENU
.mobi-dropdown {
    > ul {
        display: block;
        position: relative;
        max-height: none;
        > li {
            &.selected,
            &.act {
                display: block;
            }
        }
    }
}
//HIERARCHY MENU - SLIDE
.mobi-slide {
    .swiper-slide {
        > a {
            border-bottom: none;
            border-top: 1px solid $color9;
            padding: 15px 20px;
            background: transparent right 20px center / 32px no-repeat;
            transition: all .2s ease-in-out;
        }
        &.selected {
            > a {
                border-color: $color9;
                font-weight: 600;
                padding-left: 30px;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23000000' d='M6 15h14v-3l6 4-6 4v-3H6z'/%3E%3C/svg%3E");
            }
        }
    }
}
//SYSTEM MENU
.kutuSolMenuTree {
    .mobi-dropdown {
        > a {
            display: block;
        }
    }
}

//CONTENT UTILITY
.page-top-title {
    &-compact {
        font-size: 16px;
        > * {
            padding: 14px 20px;
        }
    }
}

//SECTION BG
.section-bg {
    &01 {
        background-size: 980px;
        height: 240px;
        &::before {
            height: 15px;
        }
    }
}

//CARD
.card {
    &01 {
        padding-left: 280px;
    }
    &02 {
        width: 340px;
    }
}

//GRADIENT
.gradient {
    &01 {
        min-height: 5px;
    }
}

//COVER IMAGE
.primary-image {
    .prm-media {
        @include aspect-ratio(3840, 1678);
    }
}

//LANDING PAGE
//full desc
.fd {
    margin-top: 0;
    padding: 100px 0;
    background: $color255;
    &-title {
        font-size: 24px;
    }
    &-text {
        margin-top: 30px;
        font-size: 13px;
    }
    .block1 {
        > .ga1 {
            padding-right: 130px;
            flex-basis: 36%;
            flex-shrink: 0;
        }
    }
    .banner15 {
        margin-left: -1px;
        flex: 1 0 50%;
    }
    .prop-group {
        margin-top: 0;
    }
    .ems-tab {
        margin-top: 120px;
    }
}
.lp-container {
    padding-bottom: 80px;
    margin-bottom: 70px;
}
.lp-slider {
    .prm-media {
        @include aspect-ratio(2880, 1260);
    }
}