$uniform-padding-x: 20px;
.design-uniform {
    position: relative;
    background: $color0 center top / cover no-repeat;
    color: $color255;
    padding: 70px 40px 60px;
    transition: all .32s ease;

    > .sub-close {
        right: auto;
        left: 20px;
        top: 10px;
        animation: animation-01 .32s ease;
    }

    .ems-section-title {
        font-size: 24px;
    }

    .sub-footer {
        background: $color3;
        color: $color255;
        padding: 5px;
        margin-left: #{-$uniform-padding-x};
        margin-right: #{-$uniform-padding-x};
    }

    .ems-form {
        max-width: none;
    }

    &[data-rel="step0"] {
        .uniform {
            &-step-obj {
                display: none;
            }
            &-image {
                max-height: 306px;
                min-height: 306px;
            }
        }
    }

    &[data-rel="step1"] {
        .step-prev {
            opacity: .25;
            pointer-events: none;
        }
    }

    &[data-rel="step2"] {
        .uniform {
            &-preview {
                display: none;
            }
        }
    }

    &[data-rel="step5"] {
        .uniform {
            &-preview {
                display: none;
            }
        }
        .step-next {
            opacity: .25;
            pointer-events: none;
        }
    }
}
.uniform {
    $fs: (320px - 40px - 30px) / 4; //((en küçük ekran - container padding toplamı - itemler arasındaki margin toplamı) / adım sayısı)
    &-steps {
        $ml: 10px;
        margin-top: 20px;
        margin-left: -$ml;
        > a {
            position: relative;
            font-size: 12px;
            text-align: center;
            margin-left: $ml;
            > span {
                display: block;
            }
            > svg {
                font-size: $fs;
                padding: 12px;
                border: 1px solid #393b3f;
                border-radius: 100%;
                margin-bottom: 9px;
                transition: all .25s ease;
            }
            &.selected {
                > svg {
                    background: $color2;
                    border-color: transparent;
                }
            }

            + a {
                &::before {
                    content: "";
                    position: absolute;
                    top: #{$fs / 2};
                    left: -10px;
                    border-top: 1px solid #393b3f;
                    width: 10px;
                }
            }
        }
    }
    &-step-title {
        font-size: 16px;
        color: $color2;
        font-weight: 500;
        margin-bottom: 15px;
    }
    &-preview {
        position: relative;
        z-index: 1;
    }
    &-image-container {
        position: relative;
    }
    &-name-number {
        position: absolute;
        #jerseyletters {
            margin-top: 15px;
        }
    }
    &-name {
        display: flex;
        justify-content: center;
        i {
            width: 18px;
            height: 20px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0 -2px;
        }
    }
    &-arm {
        > img {
            position: absolute;
            left: 0;
        }
    }
    &-image {
        display: block;
        margin: 0 auto;
        max-height: 217px;
    }
    &-360 {
        visibility: hidden;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 74px;
        text-align: center;
        padding-top: 40px;
        background-size: 258px;
        background-repeat: no-repeat;
        background-position: center 0;
        > b {
            font-size: 12px;
            color: $color6;
        }
        &:hover {
            background-position: center -74px;
            > b {
                color: $color4;
            }
        }
    }

    &-btn-start {
        min-width: 170px;
        margin-top: 39px;
    }

    &-options {
        position: relative;
        z-index: 1;
        padding-bottom: 50px;
        > div {
            position: relative;
            overflow: auto;
            animation: animation-01 .32s ease;
            &:not(.selected) {
                display: none;
            }
            &::-webkit-scrollbar {
                display:none;
            }
        }
    }

    &-slogan {
        font-family: $font2;
        font-size: 24px;
        font-weight: 700;
    }
    
    &-gender {
        $mt: 30px;
        $ml: 10px;
        margin-top: -$mt;
        margin-left: -$ml;
        a {
            font-size: 13px;
            font-weight: 400;
            border: 1px solid #424242;
            padding: 15px;
            margin-top: $mt;
            margin-left: $ml;
            min-width: 130px;
            transition: border-color .32s ease;
            &.selected {
                border-color: $color255;
            }
            &[data-type="scarf"],
            &[data-type="old"] {
                display: none;
            }
        }
    }

    &-color-container {
        margin-top: 65px;
    }
    &-color {
        $mt: 10px;
        $ml: 10px;
        margin-top: -$mt;
        margin-left: -$ml;
        a {
            font-size: 13px;
            font-weight: 400;
            border: 1px solid #424242;
            padding: 15px;
            margin-top: $mt;
            margin-left: $ml;
            min-width: 130px;
            transition: border-color .32s ease;
            &.selected {
                border-color: $color255;
            }
        }
    }

    &-select-size-container {
        margin-top: 30px;
    }
    &-select-size {
        $mt: 10px;
        $ml: 10px;
        margin-top: -$mt;
        margin-left: -$ml;
        a {
            font-size: 15px;
            font-weight: 400;
            border: 1px solid #424242;
            padding: 15px;
            margin-top: $mt;
            margin-left: $ml;
            min-width: 60px;
            max-width: 60px;
            transition: border-color .32s ease;
            &.selected {
                border-color: $color255;
            }
        }
    }

    &-tab {
        overflow: visible !important;
        .ems-tab-header {
            margin-bottom: 25px;
            > * {
                font-size: 15px;
                font-weight: 400;
                &.selected {
                    color: inherit;
                    text-decoration: underline;
                }
            }
        }
        .dropdown {
            ul {
                top: auto;
                bottom: 100%;
            }
        }
        .unique-name {
            text-transform: uppercase;
            &::placeholder {
                text-transform: none;
            }
        }
    }

    &-font-select {
        margin-top: 20px;
    }

    &-emblem {
        min-height: 45px;
        margin-top: 20px;
        &-title {
            font-family: $font2;
        }
        &-wrapper {
            padding-left: 40px;
        }
        a {
            width: 46px;
            height: 45px;
            font-size: 0;
            background: $color255;
            opacity: .7;
            transition: opacity .15s ease;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                height: 100%;
            }
            &.selected {
                opacity: 1;
            }
            + a {
                margin-left: 10px;
            }
        }
        .arm-none {
            opacity: 1;
            svg {
                font-size: 17px;
            }
        }
    }

    &-summary-container {
        margin: 55px 0 100px;
    }
    &-summary {
        font-size: 15px;
        font-weight: 400;
        li {
            display: flex;
            align-items: center;
            > b {
                font-weight: 500;
                margin-right: 5px;
            }
        }
    }
    &-summary-image {
        margin-left: auto;
    }

    &-btn-add-to-cart {
        margin-top: 50px;
        width: 100%;
    }
    &-select-qty {}
    &-price {
        font-size: 26px;
        color: $color2;
        font-weight: 400;
        padding-left: 25px;
    }
}

.ems-forma-popup-ready {
    .design-uniform {
        position: fixed;
        top: $site-header-height;
        left: 0;
        z-index: 2;
        width: 100%;
        height: calc(100% - #{$site-header-height});
        padding: 20px $uniform-padding-x 0;
        overflow: auto;
    }
    .uniform {
        &-start-obj {
            display: none;
        }
        &-preview {
            padding-top: 30px;
            padding-bottom: 25px;
        }
        &-image-container {
            padding-bottom: 25px;
        }
        &-360 {
            visibility: visible;
        }
    }
}
.ems-forma-popup-animate {
    overflow: hidden;
}





//ürün detay formanı tasarla
.uniform-design-wrapper {
    display: none;
    margin-top: 25px;
    min-height: 20px;
    @at-root {
        .uniform-design-header {
            font-family: $font2;
            font-size: 16px;
            font-weight: 700;
            color: $color4;
        }
        
        .uniform-design-body {
            display: none;
            margin-top: 20px;
            border: 1px solid $color3;
        }
    }
    .design-uniform {
        min-height: auto;
        > .ga1 {
            display: none;
        }
        > .ga2 {
            display: block;
        }
    }
    .uniform {
        &-options {
            background: #fff;
            &::before {
                display: none;
            }
            > div {
                display: none !important;
                &[data-rel="step4"],
                &[data-rel="step5"] {
                    display: block !important;
                }
            }
        }
        &-tab {
            margin-top: 0;
            .ems-tab-header {
                > a[rel="tab-3"] {
                    display: none;
                }
            }
        }
        &-add-to-cart {
            .sStylerWrp_select,
            .uniform-btn-add-to-cart {
                display: none;
            }
        }
    }
}

.ems-prdd-gallery {
    .swiper-wrapper {
        > li {
            &[data-order="1"] {
                position: relative;
            }
        }
    }
    .uniform {
        &-preview {
            display: none;
            position: absolute;
            left:0;
            top: 0;
            width: 100%;
            height: 100%;
            padding: 0;
            min-height: auto;
        }
        &-image-container {
            > * {
                visibility: hidden;
            }
        }
        &-name-number,
        &-arm,
        &-image {
            visibility: visible;
        }
    }
}

.uniform-ready {
    .uniform-design-wrapper {
        display: block;
    }
}

.uniform-activeted {
    .ems-prdd-gallery {
        .swiper-wrapper {
            > li {
                &[data-order="1"] {
                    pointer-events: none;
                    > a {
                        visibility: hidden;
                    }
                }
            }
        }
        .uniform-preview {
            display: block;
        }
    }

    .uniform-design-body {
        display: block;
    }
    .ems-prdd-info {
        display: none !important;
    }
}


//ürün detay atkı tasarla
.ems-product-scarf {
    &.uniform-activeted {
        .ems-prdd-gallery .swiper-wrapper .uniform-preview {
            display: none !important;
        }
    }

    .uniform {
        &-tab {
            min-height: auto;
            margin-top: -20px;
            .ems-tab-header {
                display: none;
            }
        }
        &-select-player {
            display: none;
        }
        &-scarf {
            display: block;
        }
    }

    .uniform-design-wrapper .uniform-options > div[data-rel="step5"] {
        display: none !important;
    }
}