.kutuOzellikFiltre {
    position: static;
    background-color: transparent;
    color: inherit;
    padding: 30px 60px;
    border: 1px solid $color9;
    height: auto;
}
.kutuHeaderOzellikFiltre {
    display: none;
}
.kutuBodyOzellikFiltre {
    overflow: visible;
    margin-top: 0;
    font-size: 12px;
    > table {
        > tbody {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 20px 50px;
            > tr {
                > td {
                    display: block;
                }
            }
        }
    }
}
#dvUrunKiyaslamaOzellik {
    margin: 0;
    border: none;
}
.urunKiyaslamaOzellik_ozellikAd {
    position: static;
    background: transparent !important;
    padding: 10px 0;
    font-size: 13px;
    font-weight: 500;
    pointer-events: none;
    border: none;
}
.urunKiyaslamaOzellik_ozellikIcerik {
    padding: 0;
}
.kutuFooterOzellikFiltre {
    justify-content: flex-end;
    > * {
        flex: none;
        > a {
            line-height: 38px;
            font-size: 11px;
        }
    }
}
.urunKiyaslamaOzellik_tumunuTemizle {
    > a {
        border: transparent;
        text-decoration: underline;
    }
}
.filter-apply {
    > a {
        border-color: $color9;
        background: transparent;
        color: $color3;
    }
}

//seçili filtreler
.pnlUrunKiyasSecim {
    display: block;
}

.ems-filter-animate {
    overflow: initial;
}