$filter-bg: $color9;
$filter-border: $color6;
.kutuOzellikFiltre {
    display: none;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: $filter-bg;
}
.kutuHeaderOzellikFiltre {
    background: $color255;
    padding: 18px $container-gap;
    font-size: 16px;
    font-weight: 500;
}
.kutuBodyOzellikFiltre {
    font-family: $font2;
    font-size: 15px;
    font-weight: 300;
    height: calc(100% - 162px);
    overflow: auto;
    margin-top: 30px;
}
#dvUrunKiyaslamaOzellik {
    border-bottom: 1px solid $filter-border;
    margin: 0 20px;
    tr + tr & {
        margin-top: -1px;
    }
}
.urunKiyaslamaOzellik_ozellikAd {
    @extend .base64;
    @extend .base64-minus;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: $filter-bg;
    background-position: right center;
    background-size: 32px;
    border-top: 1px solid $filter-border;
    font-size: 16px;
    padding: 18px 0;
    transition: background-image .25s ease;
    user-select: none;
    cursor: pointer;
    &.kapali {
        @extend .base64-plus;
    }
}
.urunKiyaslamaOzellik_temizle {
    display: none;
}
.urunKiyaslamaOzellik_ozellikIcerik {
    padding: 0 0 15px;
    @extend .ems-scrollbar;
}
.urunKiyaslamaOzellik {
    @extend .base64;
    @extend .base64-check;
    position: relative;
    display: block;
    padding: 11px 10px 10px 24px;
    background-position: left center;
    &.link_selected {
        @extend .base64-check-active;
    }
}
.kutuFooterOzellikFiltre {
    @extend %btn-group;
    margin: auto 0 0;
    > * {
        padding: 0;
        > a {
            line-height: 58px;
        }
    }
}
.urunKiyaslamaOzellik_tumunuTemizle {
    display: block !important;
    > a {
        @extend %btn;
    }
    &:empty {
        @extend .ems-none;
    }
}

//seçili filtreler
.pnlUrunKiyasSecim {
    display: none;
    padding-top: 15px;
    padding-bottom: 25px;
    border-bottom: 1px solid $color9;
}
.urunKiyaslamaOzellik_secimbaslik,
.urunKiyaslamaOzellik_UrunSayi {
    display: none;
}
.urunKiyaslamaOzellik_secimler {
    $marginl: 12px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -$marginl;
    font-family: $font2;
    font-size: 12px;
    > div {
        margin-left: $marginl;
        margin-top: 10px;
        display: flex;
        align-items: center;
    }
}
.ozellikFiltreBaslik {
    color: $color8;
    
    &::after {
        content: ":";
        margin-right: 3px;
    }
}
.ozellikFiltreSecim {
    $ml: 10px;
    display: flex;
    margin-left: -$ml;
    > a {
        margin-left: $ml;
    }
    .icon-remove {
        font-size: 25px;
        margin-top: -5px;
    }
}

.filter-type {
    //renk
    &2 {
        .urunKiyaslamaOzellik_ozellikIcerik {
            table > tbody {
                display: grid;
                grid-template-columns: repeat(auto-fit, 25px);
                grid-gap: 15px;
            }
        }
        .urunKiyaslamaOzellik {
            background-image: none;
            padding: 0;
            border: 1px solid $color4;
            &.link_selected {
                &::before {
                    @extend .base64;
                    @extend .base64-checked;
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: 1;
                    width: 100%;
                    height: 100%;
                    background-size: auto 8px;
                    background-position: center;
                }
            }
        }
        .light-color {
            .urunKiyaslamaOzellik {
                &.link_selected {
                    &::before {
                        filter: invert(1);
                    }
                }
            }
        }
        .urunKiyaslamaOzellik_ozellikImgAd {
            display: none;
        }
    }

    //beden
    &3 {
        .urunKiyaslamaOzellik_ozellikIcerik {
            table > tbody {
                display: grid;
                grid-template-columns: repeat(auto-fit, calc(100%/3));
                padding-top: 1px;
                > tr {
                    margin-left: -1px;
                    margin-top: -1px;
                    > td {
                        display: block;
                    }
                }
            }
        }
        .urunKiyaslamaOzellik {
            background-image: none;
            border: 1px solid #f5f5f5;
            padding: 0 5px;
            line-height: 42px;
            text-align: center;
            &.link_selected {
                background: $color0;
                color: $color255;
            }
        }
    }
}

.ems-filter-ready {
    
}
.ems-filter-animate {
    overflow: hidden;

    #pnlSecimiDarat {
        display: flex;
    }
}