$form-max-width: 400px;
$form-element-font-family: $font2;
$form-element-font-size: 12px;
$form-element-background-color: $color255;
$form-element-color: $color0;
$form-element-font-weight: 300;
$form-element-letter-spacing: .5px;
$form-element-height: 50px;
$form-element-padding: 0 20px;
$form-element-border: 1px solid $color4;
$form-element-border-radius: 0;
$dropdown-padding-right: 40px;
input:not([type=checkbox]):not([type=radio]),
select, .sStylerWrp_select, .dropdown-header,
textarea,
.f-input {
    font-family: $form-element-font-family;
    font-size: $form-element-font-size;
    background-color: $form-element-background-color;
    color: $form-element-color;
    font-weight: $form-element-font-weight;
    letter-spacing: $form-element-letter-spacing;
    width: 100%;
    height: $form-element-height;
    padding: $form-element-padding;
    border: $form-element-border;
    border-radius: $form-element-border-radius;
    outline: none;
    box-shadow: none;
    appearance: none;
}

input[type=checkbox],
input[type=radio] {
    margin: 0;
    outline: 0;
}

textarea {
    line-height: 1.5;
    min-height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    resize: vertical;
}

input[id$="UYE_CEPTELEFONALAN"] {
    width: 65px !important;
    margin-right: 5px;
    text-align: center;
}
input[id$="UYE_CEPTELEFON"] {
    width: calc(100% - 70px) !important;
}

.f-input {
    display: flex;
    align-items: center;
    line-height: normal;
}

.dvFarkliFatAdrSec,
#plhHediyePktSecim,
#plhUyelikBultenChk,
#plhUyelikSmsChk {
    display: flex;
    align-items: center;
}

.sStylerMainWrp {
    position: relative;
}
.sStylerWrp_checkbox,
.sStylerWrp_radio {
    display: inline-block;
    vertical-align: -0.1em;
    margin-right: 7px;
    > span {
        display: block;
        svg {
            display: block;
            font-size: 13px;
            &[class*="active"] {
                display: none;
            }
        }
        &.checked {
            svg {
                display: none;
                &[class*="active"] {
                    display: block;
                }
            }
        }
    }
    input {
        @extend .ems-none;
    }
}
.sStylerWrp_select {
    display: block;
    vertical-align: middle;
    line-height: $form-element-height;
    padding-right: $dropdown-padding-right;
    overflow: hidden;
    select {
        position: absolute;
        left: 0;
        top: 0;
        width: 100% !important;
        height: 100% !important;
        opacity: 0;
        appearance: none;
    }
    svg {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }
    .icon-select-active {
        display: none;
    }
}
.dropdown {
    position: relative;
    user-select: none;
    &-header {
        @extend .base64;
        @extend .base64-dropdown;
        padding-right: $dropdown-padding-right;
        line-height: $form-element-height - 2;
        background-position: right 10px center;
        background-size: 24px;
        cursor: default;
        > * {
            display: flex;
            align-items: center;
            white-space: nowrap;
            overflow: auto;
            cursor: default;
            @extend .ems-scrollbar-hide;
            > img {
                margin-right: 7px;
            }
        }
    }
    > ul {
        display: none;
        position: absolute;
        left: 0;
        top: 100%;
        z-index: 2;
        width: 100%;
        max-height: 140px;
        overflow: auto;
        margin: -1px 0 0 0;
        background-color: $form-element-background-color;
        border: $form-element-border;
        > li {
            > a {
                display: flex;
                align-items: center;
                white-space: nowrap;
                overflow: auto;
                padding: $form-element-padding;
                line-height: $form-element-font-size * 3;
                font-family: $form-element-font-family;
                font-size: $form-element-font-size;
                color: $form-element-color;
                font-weight: $form-element-font-weight;
                letter-spacing: $form-element-letter-spacing;
                cursor: default;
                @extend .ems-scrollbar-hide;
                > img {
                    margin-right: 7px;
                }
                &:hover {
                    background-color: $color28;
                    color: $color255;
                }
            }
        }
    }
    &.opened {
        > ul {
            display: block;
        }
    }
}

.zorunluFont {
    &::before {
        content: "*";
        color: $color29;
        margin-right: 3px;
    }
}
.ems-form {
    position: relative;
    max-width: $form-max-width;
    @at-root {
        .ems-field {
            margin-top: 20px;
            &-submit {
                margin-top: 30px;
                a.btnDefault {
                    @extend %btn-size01;
                }
            }
            &-first {
                margin-top: 0;
            }
            &-small {
                margin-top: 10px;
            }
            &-comment {
                padding-top: 20px;
                border-top: $form-element-border;
            }
        }
    }
    &-label {
        position: relative;
        font-family: $form-element-font-family;
        font-size: 13px;
        line-height: 1;
        margin-bottom: 8px;
        &:empty {
            display: none;
        }
    }
    &-obj {
        position: relative;
        &:empty {
            display: none;
        }
        > span,
        > label,
        #lnkSifremiUnuttum {
            font-family: $form-element-font-family;
            font-size: $form-element-font-size;
        }
        &.chk-padding {
            padding-left: 20px;
            > .checkbox {
                position: absolute;
                left: 0;
            }
        }
        &.input-btn {
            input {
                width: 100% !important;
                padding-right: 40%;
                + * {
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: auto;
                }
            }
        }
    }
    &-post-loading {
        animation: show .5s ease;
    }
}
//captcha
[id$="divCaptcha"] {
    position: relative;
    max-width: $form-max-width;
    br {
        @extend .ems-none;
    }
    [id$="lbfUYE_KONTROLKODU"] {
        @extend .ems-form-label;
        display: block;
    }
    #imgCaptcha {
        position: absolute;
        left: 1px;
        bottom: 1px;
        height: $form-element-height - 2px;
        border-right: $form-element-border;
        border-radius: 0 7px 7px 0;
        max-width: 55%;
    }
    input[id$="txtUYE_KONTROLKODU"] {
        padding-left: 60%;
        text-align: center;
        font-family: Consolas, monospace;
        font-size: 16px;
        letter-spacing: 7px;
    }
    .captchaYenile {
        display: inline-flex;
        position: absolute;
        right: 0;
        top: 0;
        padding: 4px;
        font-family: $form-element-font-family;
        font-size: 11px;
    }
}

//XML FORM
.xmlForm {
    #dvSehirBilgi {
        @extend .ems-field;
    }
}
.xmlForm_btnGonder {
    margin-top: 30px;
    text-align: left;
}
a.btnXMLFORM {
    min-width: 180px;
}
.xmlFormHeader {
    display: none;
}
.xmlFormCaptcha {
    margin-top: 20px;
}
.prmSehir {
    @extend .ems-form-label;
    display: block !important;
}