.ems-grid-row {
    grid-gap: 10px 20px;
    padding-left: 0;
    padding-right: 0;
    &.ems-grid-header {
        display: grid;
    }
}
.ems-grid {
    &-name {
        padding-right: 0;
    }
    &-img {
        grid-row: auto;
    }
    &-remove {
        position: relative;
        right: 0;
        top: 0;
        margin-top: 10px;
    }
    &-select {
        position: relative;
        left: 0;
        top: 0;
    }
    &-address-name {
        padding-right: 0;
    }
    &-address-buttons {
        position: static;
        margin-top: 5px;
    }
    &-address-select {
        a {
            > span {
                justify-content: flex-start;
            }
            + a {
                margin-left: 0;
                margin-top: 10px;
            }
        }
    }
    &-title {
        grid-column: span 1;
    }
    &-option {
        grid-column: span 1;
        .ems-grid-remove {
            margin-top: 0;
            margin-bottom: 10px;
            text-align: right;
        }
    }
}