.tabloTabBtnAdim {
    position: relative;
    svg {
        font-size: 32px;
    }
    td {
        display: flex;
        justify-content: center;
        > span {
            position: relative;
            flex: 1;
            text-align: center;
            a {
                padding: 6px;
                &::after {
                    content: "";
                    display: inline-block;
                    border: 2px solid transparent;
                    border-radius: 100%;
                    background: transparent;
                }
                > span {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                }
            }
            &.tabBtnSelectedDefault {
                a {
                    &::after {
                        border-color: $color1;
                    }
                }
            }
            &.btnDisable {
                a {
                    color: rgba($color: $color3, $alpha: .4)
                }
            }
            + span {
                &::before {
                    content: "";
                    position: absolute;
                    top: 20px;
                    left: -17%;
                    border-top: 4px dotted $color1;
                    width: 34%;
                }
                &.btnDisable {
                    &::before {
                        border-color: rgba($color: $color3, $alpha: .4);
                    }
                }
            }
        }
    }
}