.urunPaging {
    padding-left: 0;
    padding-right: 0;
    margin-top: 110px;
    width: auto;
    font-size: 13px;
}

.urunPaging_pageNavigation {
    [id$="lblPaging"] {
        margin-left: auto;
        margin-right: 0;
        a.paging {
            &:not(.knk) {
                display: inline-block;
            }
            &:last-child {
                pointer-events: all;
                &::before {
                    display: none;
                }
            }
        }
    }
    .paging {
        min-width: 25px;
        margin: 0 5px;
        &[id$="lnkPrev"],
        &[id$="lnkNext"] {
            display: none;
        }
    }
    span.paging {
        color: $color8;
    }
    .tumunuGoster {
        display: block !important;
    }
}