.urunPaging {
    @extend .ems-container;
    margin-top: 45px;
    font-family: $font2;
    font-weight: 300;
    tr{
        display: flex;
        align-items: center;
        border-top: 1px solid $color4;
        border-bottom: 1px solid $color4;
        line-height: 68px;
    }
    td[align="left"],
    td[align="right"] {
        display: none;
    }
    td[align="center"] {
        width: 100% !important;
    }
}
.urunPaging_paging{
    > span,
    select{display: none;}
}

.urunPaging_pageNavigation {
    display: flex;
    align-items: center;
    justify-content: center;
    
    [id$="lblPaging"] {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        a.paging {
            &:not(:last-child) {
                display: none;
            }
            &:last-child {
                pointer-events: none;
                &::before {
                    content: "/";
                    margin-right: 5px;
                    margin-left: 5px;
                }
            }
        }
    }
    .paging {
        display: inline-block;
        overflow: hidden;
        &[id$="lnkPrev"] {
            width: 48px;
        }
        &[id$="lnkNext"] {
            width: 48px;
        }
    }
    .tumunuGoster {
        order: -1;
    }
}

#lbfPagingPrev,
#lbfPagingNext {
    @extend .base64;
    @extend .base64-arrow1;
    display: block;
    background-position: center center;
    background-size: 25px;
    font-size: 0;
}
#lbfPagingPrev {
    @extend .ems-rotate-left;
}
#lbfPagingNext {
    @extend .ems-rotate-right;
}

.ems-pagination-hide {
    .urunPaging {
        @extend .ems-none;
    }
}

.icerikListePagingUst {
    @extend .ems-none;
}