.ems-sort {
    $drp-width: 160px;
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    #dvUrunKiyaslamaOzellik{
        margin-left: 20px;
        
        &.filters {
            margin-left: 0;
            min-width: $drp-width;
        }

        &.counts {
            margin-right: auto;
        }

        &.sorts {
            min-width: $drp-width;
            .urunKiyaslamaOzellik {
                background-image: none !important;
                padding: 0 20px;
                font-family: $font2;
                font-size: 14px;
                line-height: 38px;
                letter-spacing: .93px;
                border: 1px solid transparent;
                &.link_selected {
                    border-color: $color5;
                }
            }
        }
        
        &.views {
            $marginl: 5px;
            .urunKiyaslamaOzellik_ozellikIcerik {
                margin-left: -$marginl;
            }
            .urunKiyaslamaOzellik {
                margin-left: $marginl;
            }
        }

        + #dvUrunKiyaslamaOzellik {
            margin-top: 0;
        }
    }

    &-animate {
        overflow: initial;
    }
}