.ems-sort {
    display: none;
    .urunKiyaslamaOzellik_ozellikAd {
        background-image: none;
    }

    #dvUrunKiyaslamaOzellik {
        &.counts {
            .urunKiyaslamaOzellik {
                background: none;
                padding: 0;
                font-size: 12px;
            }
        }

        &.sorts {
            .urunKiyaslamaOzellik {
                @extend .base64-radio;
                padding-left: 30px;
                &.link_selected {
                    @extend .base64-radio-active;
                }
            }
        }

        &.views {
            .urunKiyaslamaOzellik {
                background: none;
                padding: 0;
                color: $color27;
                display: flex;
                align-items: center;
                &.link_selected {
                    color: $color0;
                }
                svg {
                    margin-right: 5px;
                }
            }
        }

        + #dvUrunKiyaslamaOzellik {
            margin-top: -1px;
        }
    }

    &-ready {

    }

    &-animate {
        overflow: hidden;
        .ems-sort {
            display: flex;
        }
    }
}