//CUSTOM CFG
//product widget
.swiper-product {
    $p: 20px;
    .swiper-inner {
        margin-left: #{-$p};
    }
    .ems-prd {
        padding-left: #{$p};
        width: calc(100% / 4);
    }
}

//navigation
.slider-navigation {
    .swiper-button-prev,
    .swiper-button-next {
        display: block;
    }
}

//swipe only mobile
.mobi-swiper {
    &.slider-navigation {
        .swiper-button-prev,
        .swiper-button-next {
            display: none;
        }
    }
    &.slider-pagination {
        .swiper-pagination {
            display: none;
        }
    }
}

//horizontal content layout
.d-swiper-layout-r {
    > .swiper-inner {
        > .swiper-wrapper {
            flex-direction: row;
        }
    }
}

//vertical content layout
.d-swiper-layout-v {
    > .swiper-inner {
        > .swiper-wrapper {
            flex-direction: column;
        }
    }
}