.ems-tab {
    position: relative;
    z-index: 1;
    &-header {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        overflow: auto;
        @extend .ems-scrollbar-hide;
        > * {
            font-weight: 700;
            letter-spacing: .9px;
            padding: 10px 20px;
            border: 1px solid transparent;
            user-select: none;
            cursor: pointer;
            &.selected,
            &.emos_selected {
                border-color: $color5;
            }
        }
    }
    &-content {
        > * {
            display: none;
            &.selected {
                display: block;
            }
        }
    }

    &.ajx-loading {
        > .ems-tab-content {
            > *:not(.ajx-loaded) {
                background: $bg-loading;
            }
        }
    }

    //checkbox
    &-checkbox {
        &-header {
            background: $color2;
            padding: 20px;
            font-family: $font2;
            font-size: 14px;
            color: $color255;
            user-select: none;
        }
        &-content {
            display: none;
            border: 1px solid $color6;
            background: $color255;
            color: $color0;
        }
        &.opened {
            .ems-tab-checkbox-content {
                display: block;
            }
        }
    }

    //vertical
    &-vertical {
        .ems-tab-content {
            > * {
                display: block;
                border-top: 1px solid $color6;
                border-bottom: 1px solid $color6;
            }
        }
        @at-root {
            $p: 25px;
            .ems-tab-inner-header {
                @extend .base64;
                @extend .base64-plus;
                padding: $p 0;
                background-position: right center;
                background-size: 32px;
                transition: background-image .25s ease;
                font-weight: 700;
                text-align: left;
                user-select: none;
                cursor: pointer;
            }
            .ems-tab-inner-content {
                display: none;
                margin-top: -$p;
            }
            .selected {
                .ems-tab-inner-header {
                    @extend .base64-minus;
                }
                .ems-tab-inner-content {
                    display: block;
                }
            }
        }
    }
}