.open-menu {
    background: $color2;
    color: $color255;
}

%menu-header {
    position: sticky;
    top: 0;
    z-index: 1;
    font-family: $font1;
    font-size: 18px;
    color: $color255;
    font-weight: 500;
    line-height: 60px;
    background: $color2;
    padding: 0 20px 0 70px;
    &::before {
        @extend .base64;
        $fs: 37px;
        $mr: 10px;
        content: "";
        width: $fs;
        height: $fs;
        background-size: 24px;
        background-position: center;
        margin-right: $mr;
        border: 1px solid #eb9d00;
        border-radius: 100%;
        margin-left: -#{$fs + $mr};
        @extend .ems-rotate-bottom;
        transition: all .2s ease;
    }
    .selected & {
        &::before {
            @extend .ems-rotate-left;
        }
    }
}
.menu {
    display: none;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0;
    width: 85vw;
    height: 100%;
    max-width: 315px;
    background: $color255;
    font-family: $font2;
    font-size: 14px;
    font-weight: 400;
    
    opacity: 0;
    transform: translateX(200px);
    transition: all .12s cubic-bezier(0.950, 0.050, 0.795, 0.035); /* easeInExpo */
    li {
        > a {
            position: relative;
            display: flex;
            align-items: center;
            line-height: 40px;
        }
        &.selected {
            position: fixed;
            left: 0;
            top: 0;
            z-index: 2;
            width: 100%;
            height: 100%;
            background: $color255;
            overflow: auto;
            > a {
                @extend %menu-header;
                &::before {
                    @extend .base64-arrow1;
                }
            }
            > .sub,
            > ul,
            .lvl-2 {
                display: block;
                animation: animation-01 .2s ease;
            }
        }
        ul {
            display: none;
        }
    }

    .lvl-1 {
        overflow: auto;
        border-bottom: 1px solid $color6;
    }

    .sub {
        display: none;
    }

    .color02 {
        > a {
            color: $color1;
        }
    }
    .cursor0 {
        > a {
            &::after {
                display: none;
            }
        }
    }
    .lvl-link {
        font-weight: 700;
    }

    .btn-menu-title {
        @extend %menu-header;
        &::before {
            @extend .base64-user;
        }
    }
    .selected > .btn-menu-title {
        &::before {
            @extend .base64-arrow1;
        }
    }

    .dropdown {
        li {
            &.selected {
                display: none;
            }
        }
        a {
            position: unset;
            align-items: unset;
            margin: unset;
            font-weight: unset;
            border-bottom: unset;
            transition: unset;
            &::before {
                display: none;
            }
        }
    }

    .lvl-1,
    .top-menu-append,
    .lvl-2,
    .lvl-3 {
        padding: 35px 0 35px 35px;
        margin: 0 35px;
    }

    &-user-info {
        .sub {
            li {
                > a {
                    svg {
                        --color1: #A90534;
                        margin-right: 8px !important;
                    }
                }
            }
        }
        &-logout {
            margin-top: 15px;
        }
    }

    &-ready {
        .menu {
            display: flex;
        }
    }

    &-animate {
        overflow: hidden;
        .menu-overlay {
            display: block;
        }
        .menu {
            z-index: 10;
            opacity: 1;
            transform: translateX(0);
            transition: all .3s cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */
        }
    }
}