.mini-user {
    position: relative;
    &-info {
        background: $color4;
        > span {
            @extend %header-mods-title;
            .lg2{display: none;}
        }
    }

    $p: 65px;
    &-sub {
        @extend %header-mods-sub;
        max-width: 475px;
        padding: $p;
    }
    .sub-header {
        margin-bottom: 15px;
    }


    .ems-obj-login {
        .mini-user {
            &-sub {
                background-image: url(/images/frontend/bg-mini-user.png);
                background-position: right bottom;
                background-repeat: no-repeat;
            }
        }
    }

    &-ready {
        .mini-user {
            &-sub {
                @extend %header-mods-sub-ready;
            }
        }
    }

    &-animate {
        @extend %header-mods-animate;
        .mini-user {
            &-overlay {
                @extend %header-mods-sub-overlay;
            }
            &-sub {
                @extend %header-mods-sub-animate;
            }
        }
    }
}

#lnkSifremiUnuttum span.lnkSifremiUnuttum {
    @extend %btn-reset;
    color: $color7;
}

a.btnFacebookLoginKutu {
    @extend %btn-transparent;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #c7daff;
    color: #4368b2;
}

a.btnKutuLogout {
    @extend %btn-transparent;
}
.mini-user-links {
    max-height: calc(100vh - 250px);
    overflow: auto;
    a {
        line-height: 2;
    }
    @at-root {
        .kutuUyeGiris_lbfUyeMesajSayi {
            margin-left: 5px;
        }
    }
}

.ems-login{
    .mini-user-info > span {
        .lg1{ display: none;}
        .lg2{ display: inline-block;}
    }
}