ul.menu-mini-lang {
    margin-top: auto;
    display: none;
    > li {
        > a {
            background: $color6;
            line-height: 60px;
            padding: 0 20px;
            > b {
                margin-right: 3px;
            }
        }
    }
    .mini-lang {
        display: block !important;
        &-sub {
            padding: 35px;
        }
    }
    .sub-close,
    .sub-header,
    .sub-footer {
        @extend .ems-none;
    }
}

.mini-lang {
    display: none;
    &-info {
        position: relative;
        > span {
            @extend %header-mods-title;
            > span {
                &:not([class]) {
                    color: $color27;
                }
                + span {
                    &::before {
                        content: "-";
                        margin: 0 5px;
                    }
                }
            }
        }
        .sel-currency {
            min-width: 10px;
        }
    }

    $pt: 190px;
    $px: 65px;
    $pb: 65px;
    &-sub {
        @extend %header-mods-sub;
        max-width: 410px;
        padding: $pt $px $pb;
    }
    .sub-header {
        margin-top: 0;
        margin-bottom: 15px;
    }

    &-ready {
        .mini-lang {
            &-sub {
                @extend %header-mods-sub-ready;
            }
        }
    }

    &-animate {
        @extend %header-mods-animate;
        .mini-lang {
            &-overlay {
                @extend %header-mods-sub-overlay;
            }
            &-sub {
                @extend %header-mods-sub-animate;
            }
        }
    }
}

.inner-mini-lang-sub {
    img {
        display: none;
    }
    .emos_invisible {
        display: block;
        font-weight: 500;
    }
}