.mini-user {
    position: relative;
    &-info {
        background: $color4;
        > span {
            @extend %header-mods-title;
        }
    }

    $p: 65px;
    &-sub {
        @extend %header-mods-sub;
        max-width: 475px;
        padding: $p;
    }
    .sub-header {
        margin-bottom: 15px;
    }


    .ems-obj-login {
        .sub-header {
            background: $color1;
        }
    }

    &-ready {
        .mini-user {
            &-sub {
                @extend %header-mods-sub-ready;
            }
        }
    }

    &-animate {
        @extend %header-mods-animate;
        .mini-user {
            &-overlay {
                @extend %header-mods-sub-overlay;
            }
            &-sub {
                @extend %header-mods-sub-animate;
            }
        }
    }
}

#lnkSifremiUnuttum {
    color: $color7;
}

.uyeGirisFacebookConnectKutu {
    margin: 0;
}
a.btnFacebookLoginKutu {
    @extend %btn-transparent;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #c7daff;
    color: #4368b2;
}

.kutuUyeGiris_profilFoto {
    display: inline-block !important;
    padding-right: 15px;
    img {
        border-radius: 100%;
        max-width: 60px;
    }
}
a.btnKutuLogout {
    @extend %btn-transparent;
}
.mini-user-links {
    font-family: $font2;
    font-size: 18px;
    max-height: calc(100vh - 250px);
    overflow: auto;
    a {
        line-height: 35px;
    }
    @at-root {
        .kutuUyeGiris_lbfUyeMesajSayi {
            margin-left: 5px;
        }
    }
}