.mini-search {
    display: block;
    &-info {
        > span {
            @extend %header-mods-title;
            padding: 0;
        }
    }
    &-sub {
        @extend %header-mods-sub;
        max-width: calc(100% - 330px);
        max-height: 100%;
        padding: 40px 100px 30px;
    }
    .sub-close {
        left: auto;
        right: 45px;
        top: 44px;
    }
    .ems-form{
        &-inner{
            display: grid;
            grid-template-columns: minmax(0,1fr) minmax(0,50px) minmax(0,auto);
            grid-template-areas: "ga0 ga0 ga0" "ga1 . ga2" "ga3 . .";
        }
        .ga0{
            grid-area: ga0;
        }
        .ga1{
            grid-area: ga1;
        }
        .ga2{
            grid-area: ga2;
        }
        .ga3{
            grid-area: ga3;
        }
    }
    .search-input > input {
        padding-left: 0;
        font-size: 30px;
        border: none;
        border-bottom: 1px solid #efefef;
    }
    a[id$="btnArama"] {
        right: 15px;
    }

    .no-result {
        margin: 20px 0 0 0;
    }

    &-result-found {
        .ems-form{
            &-inner{
                grid-template-columns: 1fr;
            }
        }
    }

    &-ready {
        .mini-search {
            &-sub {
                @extend %header-mods-sub-ready;
            }
        }
    }

    &-animate {
        .mini-search {
            &-overlay {
                @extend %header-mods-sub-overlay;
            }
            &-sub {
                @extend %header-mods-sub-animate;
            }
        }
    }
}

.popular-search-words{
    margin: 0;
}
.popular-search-words,
.popular-last-search{
    text-align: left;
    .ems-section-title {
        font-size: 12px;
    }
    .swiper-container {
        flex: 1;
    }
    .swiper-wrapper{
        flex-direction: row !important;
    }
    &-append & {
        display: flex;
    }
    .swiper-slide{
        + .swiper-slide {
            padding-top: 0;   
            margin-left: 10px; 
        }
    }
    .prm-link{
        min-width: 60px;
        border-radius: 12px;
        background: #EFEFEF;
        padding: 5px 10px;
        font-size: 12px;
        text-align: center;
    }
}

.searchSuggestDivHolder {
    margin: 0;
    grid-template-columns: 1fr 70px 200px;
    grid-template-areas: "ga1 . ." "ga2 . ga3" "ga4 . .";
    .prdCount{
        text-align: right;
    }
    .prd {
        .sHolder {
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 10px;
            margin-right: 0;
            margin-left: 0;
        }
    }
    .cat {
        margin-top: 0;
    }
}