.mini-search {
    &-sub {
        position: fixed;
        right: 0;
        top: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
        overflow: auto;
        background: $color255;
        padding: 30px $container-gap;
        
        opacity: 0;
        transform: translateX(50%);
        transition: all .12s cubic-bezier(0.950, 0.050, 0.795, 0.035); /* easeInExpo */
    }
    .sub-close {
        right: auto;
        left: 30px;
        top: 43px;
    }

    .ems-form {
        max-width: none;
        margin-top: -20px;
    }

    .f-input {
        font-family: $font1;
        font-weight: 500;
        height: 40px;
        padding: 0 15px;
    }

    .search-input > input {
        padding-right: 50px;
        padding-left: 45px;
        color: $color8;
    }
    a[id$="btnArama"] {
        @extend %btn-reset;
        position: absolute;
        right: 10px;
        top: 10px;
        svg {
            font-size: 30px;
        }
    }

    .no-result {
        display: none;
        font-family: $font2;
        font-size: 15px;
        margin: 20px;
    }

    &-ready {
        .mini-search {
            display: block;
        }
    }
    
    &-animate {
        overflow: hidden;
        .mini-search {
            &-sub {
                opacity: 1;
                transform: translateX(0);
                transition: all .3s cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */
            }
        }
    }

    &-focused {
        .search-input > input {
            color: $color0;
        }
    }

    &-result-found {
        .popular-search-words-append {
            display: none;
        }
        .searchSuggestDiv {
            display: block;
        }
    }

    &-no-result {
        .no-result {
            display: block;
        }
    }
}

.popular-search-words {
    display: none;
    text-align: center;
    margin-top: 175px;
    .ems-section-title {
        font-size: 14px;
    }

    .swiper-slide {
        + .swiper-slide {
            padding-top: 15px;            
        }
    }

    &-append & {
        display: block;
    }
}

.searchSuggestDiv {
    position: relative !important;
    width: 100% !important;
    display: none;
}
.searchSuggestDivHolder {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "ga1" "ga2" "ga3" "ga4";

    .prd {
        grid-area: ga2;
        h3 {
            display: none;
        }
        .sHolder {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 18px 15px;
            > div {
                display: none;
                cursor: pointer !important;
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(5),
                &:nth-child(6) {
                    display: block;
                }
            }
        }
        table {
            tr {
                display: grid;
                font-weight: 400;
                th {
                    display: none;
                }
                td {
                    > .emos_invisible {
                        display: block;
                    }
                }
            }
        }
        .suggest_urnsmallimg_con {
            grid-row: 1;
            border: 1px solid $color9;
            padding: 25px 15px 10px;
        }
        .suggest_urnsname_con {
            grid-row: 2;
            font-weight: 500;
            padding-top: 18px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .suggest_urnprice_con {
            grid-row: 3;
            padding-top: 8px;
            padding-bottom: 18px;
            .suggest_urnprice {
                display: flex;
            }
        }
        .suggest_urnurunkod_con,
        .suggest_urnnormalprice_con,
        .suggest_urnsubscriptiondiscountrate_con,
        .suggest_urnsubscriptionprice_con,
        .suggest_urndiscountrate_con {
            display: none;
        }
    }
    .cat {
        grid-area: ga3;
        h3 {
            padding: 15px 0 10px;
        }
        .suggest_link {
            > a {
                display: none;
            }
            > span {
                position: relative;
                display: block;
                padding: 6px 15px;
                font-family: $font2;
                font-size: 12px;
                line-height: 20px;
                color: $color8;
                span {
                    display: none;
                }
                &::before {
                    @extend %triangle;
                    @extend %triangle-r;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
                a {
                    display: inline-block;
                    &:not(:first-child) {
                        color: $color0;
                        margin-left: 5px;
                        &::before {
                            content: "/";
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
    .prdCount {
        grid-area: ga1;
        display: block;
        padding: 25px 0 10px;
        font-family: $font2;
        font-size: 12px;
        h3 {
            display: none;
        }
    }
    .dvTumunuGoster {
        grid-area: ga4;
        display: block;
        justify-self: center;
        padding-top: 30px;
        #ascAramaBtnTumunuGoster {
            min-width: 280px;
            text-align: center;
        }
    }
    .brand,
    .wordSearch {
        display: none;
    }
}