.top-menu {
    $pl: 15px;
    padding: 0 40px 0 20px;
    font-size: 12px;
    font-weight: 400;
    .swiper-inner {
        margin-left: #{-$pl};
    }
    .swiper-slide {
        padding-left: #{$pl};
    }
}