.top-menu-append {
    .top-menu {
        display: block !important;
    }
}
.top-menu {
    .swiper-slide {
        a:before{
            content: '';
            width: 24px;
            height: 24px;
            display: inline-block;
            vertical-align: middle;
            background-size: 24px;
            background-position: center center;
            position: relative;
            top: -1px;
        }
        &.favori{
            a{
                &:before{
                    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzNiIgaGVpZ2h0PSIzNiIgdmlld0JveD0iMCAwIDM2IDM2Ij4gICAgPHBhdGggZmlsbD0iI0FEMDAyRSIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMTMuNjcyIDExLjgyMmMuODM5IDAgMS42ODQuMzQ2IDIuMzQxIDEuMDMzbDEuMjggMS4zNDRjLjI1Ny4yNy42ODQuMjguOTU0LjAyMmwuMDIzLS4wMjIgMS4yNzMtMS4zMzdjMS4zMTQtMS4zNzUgMy4zNjEtMS4zNzUgNC42NzYgMCAxLjMxNCAxLjM3NiAxLjMxNCAzLjYwMyAwIDQuOTc5LTIuMTQ3IDIuMjQ2LTQuMjk1IDQuNDktNi40NDEgNi43MzZsLTYuNDQtNi43NDNjLTEuMzE0LTEuMzc4LTEuMzE1LTMuNjAzIDAtNC45NzkuNjU2LS42ODcgMS40OTQtMS4wMzMgMi4zMzQtMS4wMzNtMC0xLjMyMmMtMS4yMDMgMC0yLjQwNS40Ny0zLjMxMiAxLjQyLTEuODE1IDEuODk5LTEuODEyIDQuOTQyIDAgNi44NDJsNi45MjYgNy4yNjNhLjY3NS42NzUgMCAwIDAgLjk3NyAwbDYuOTMzLTcuMjU2YzEuODE0LTEuOSAxLjgxNC00Ljk0MyAwLTYuODQyYTQuNTYzIDQuNTYzIDAgMCAwLTYuNjI0IDBsLS43OTQuODIzLS43OTUtLjgzYTQuNTYgNC41NiAwIDAgMC0zLjMxMS0xLjQyIi8+PC9zdmc+");
                }
            }
        }
        &.siparis{  
            a{
                &:before{
                    background-image: url("data:image/svg+xml,%3Csvg width='24px' height='24px' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Artboard' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='noun_Box_3021592' transform='translate(4.000000, 5.000000)' fill='%23AD002E' fill-rule='nonzero'%3E%3Cpath d='M7.98403194,14 C7.94251497,14 7.900998,13.9916 7.86267465,13.9776 L0.198003992,11.1776 C0.0766467066,11.1356 0,11.032 0,10.92 L0,3.08 C0,2.9876 0.0542914172,2.898 0.143712575,2.8476 C0.233133733,2.7944 0.34491018,2.786 0.443912176,2.8224 L7.98403194,5.5776 L15.5273453,2.8224 C15.6263473,2.786 15.7381238,2.7972 15.8275449,2.8476 C15.9169661,2.9008 15.9712575,2.9876 15.9712575,3.08 L15.9712575,10.92 C15.9712575,11.032 15.8946108,11.1356 15.7732535,11.1776 L8.10858283,13.9776 C8.06706587,13.9916 8.0255489,14 7.98403194,14 Z M0.638722555,10.7324 L7.98403194,13.4148 L15.3293413,10.7324 L15.3293413,3.5 L8.10538922,6.1376 C8.0255489,6.1656 7.93932136,6.1656 7.85948104,6.1376 L0.638722555,3.5 L0.638722555,10.7324 Z' id='Shape'%3E%3C/path%3E%3Cpath d='M7.98403194,6.16 C7.94251497,6.16 7.900998,6.1516 7.86267465,6.1376 L0.198003992,3.3376 C0.0766467066,3.2956 0,3.192 0,3.08 C0,2.968 0.0766467066,2.8644 0.198003992,2.8224 L7.86267465,0.0224 C7.94251497,-0.0056 8.02874251,-0.0056 8.10858283,0.0224 L15.7732535,2.8224 C15.8914172,2.8672 15.9712575,2.968 15.9712575,3.08 C15.9712575,3.192 15.8946108,3.2956 15.7732535,3.3376 L8.10858283,6.1376 C8.06706587,6.1516 8.0255489,6.16 7.98403194,6.16 Z M1.1497006,3.08 L7.98403194,5.5776 L14.8183633,3.08 L7.98403194,0.5824 L1.1497006,3.08 Z' id='Shape'%3E%3C/path%3E%3Cpath d='M7.98403193,14 C7.80838323,14 7.66467066,13.874 7.66467066,13.72 L7.66467066,5.88 C7.66467066,5.726 7.80838323,5.6 7.98403193,5.6 C8.15968064,5.6 8.30339321,5.726 8.30339321,5.88 L8.30339321,13.72 C8.30339321,13.874 8.15968064,14 7.98403193,14 Z' id='Path'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                    background-size: 20px;
                }
            }
        }
    }
}